[2016-11-18 12:34] jthomas opened #1 "Add Logging support"
Serverless now supports retrieving logs for deployed functions.

[code]

OpenWhisk has an API for activation logs, need to hook this up as a new command.

[2016-11-18 12:37] jthomas opened #2 "Add Info command"
Serverless framework now as an `info` command.

This will provide output for the deployed functions from the service provider.

See [here](https://github.com/serverless/serverless-google-cloudfunctions/blob/master/info/lib/displayServiceInfo.js) for the Google provider implementation.

Need to implement this for OpenWhisk.

[2016-11-18 12:41] jthomas opened #3 "Add support for zip package deployments"
OpenWhisk now supports deploying a zip file to create an action. This can contain third-party NPM modules.

Need to review the deployment plugins to work out how we can take advantage of this.

[2016-11-18 12:44] jthomas opened #4 "Add support for API gateway integration"
OpenWhisk is currently working on adding API Gateway support (https://github.com/openwhisk/openwhisk/issues/1495).

Once this has been completed, we need to add support for this into the plugins.

[2016-11-18 16:27] jthomas opened #5 "Unable to remove 'active' rules."
Rules must be disabled before deletion.
Plugin should disable all rules before attempting to remove.

[2016-11-18 16:29] jthomas opened #6 "Move OpenWhisk client into provider"
Serverless now provides a 'provider' API for registering clients with the frameworks.
Need to migrate from using the OpenWhisk API directly to this approach.

[2016-11-18 16:33] jthomas opened #7 "Re-work event support for inline triggers"
Currently the event configuration in the YAML file relies on the user to define triggers separately. Users define the rule and reference an external trigger. It would be nicer to support inline trigger definition in addition to this approach.

We should support two event types, trigger and HTTP (when API GW implementation is ready). Users should not have to define as little as possible to get up a

[2016-11-18 16:38] jthomas opened #8 "Update documentation."
Need to review and update documentation with all the changes.
Also need to write a README for the project.

[2016-11-22 16:53] #1 closed

[2016-11-23 17:01] jthomas commented on #3
Actions are now deployed as a package rather than as individual functions.

Need to test out deploying single functions to ensure this still works.

[2016-11-24 11:41] #3 closed

[2016-11-24 14:45] #5 closed

[2016-11-25 09:35] jthomas opened #9 "Change provider name"
Provider name should be "openwhisk" not "ibm"

[2016-11-25 09:36] jthomas opened #10 "Re-factor credential handling"
Move core credential parsing and validating into provider plugin.

[2016-11-25 10:03] #6 closed

[2016-11-25 10:21] jthomas opened #11 "Handle API errors without failing."
During the "remove" operation, if one of the API calls fails we want to allow the other operations to continue. It currently bails out after the first fail.

For example, if the user has manually removed one of the resources, we shouldn't block until they re-deploy.

[2016-11-25 11:57] jthomas commented on #7
We should make it easier for the developer to write inline trigger support in the function definitions and be extendable for other event types.

This will be the new event configuration:
[code]
The new implementation should support defining triggers in this section, rather than also having to reference triggers in the `resources` section. If the rule parameter is not used, the rule name is auto-ge

[2016-11-29 17:11] #7 closed

[2016-11-29 17:13] jthomas opened #12 "Inline rule definition fails when missing trigger."
Don't make users define triggers separately.

[2016-11-30 15:08] #12 closed

[2016-12-01 14:59] #11 closed

[2016-12-02 16:34] jthomas commented on #2
I've added basic implementation for this function.
Need to think about UX for the console output and what makes sense for the user.

[2016-12-05 10:52] #2 closed

[2016-12-05 10:54] jthomas commented on #10
Provider class now has `props` method to expose client properties to users rather than calling Credentials class directly.

[2016-12-05 10:54] #10 closed

[2016-12-05 11:03] jthomas opened #13 "Add CI support."

[2016-12-05 17:24] jthomas commented on #9
https://github.com/serverless/serverless/pull/2866

[2016-12-05 17:27] jthomas opened #14 "Add support for Action Sequences."
Should be able to define functions with a `sequence` parameter rather than `handler`.

[2016-12-05 17:30] jthomas commented on #8
Need to create a boilerplate project as a temporary measure until framework handles template plugins.
https://github.com/pmuens/boilerplate-googlecloudfunctions-nodejs

[2016-12-05 17:32] jthomas opened #15 "Remove Serverless dependency in tests"
Test code assumes Serverless module in a project dependency.
This should be removed in place of using mocks to simulate the object.

[2016-12-08 13:18] jthomas opened #16 "Add support for "main" handler name."
OpenWhisk has now relaxed the constraint on handler name being "main".

We should allow this in the framework.

[2016-12-09 13:50] jthomas commented on #8
I've added a basic boilerplate here:
https://github.com/jthomas/serverless-openwhisk-boilerplate

I'm waiting on https://github.com/serverless/serverless/issues/2895 to resolve before writing the README.

[2016-12-09 13:50] #9 closed

[2016-12-09 13:51] #16 closed

[2016-12-09 16:18] jthomas commented on #15
Fixed!

[2016-12-09 16:18] #15 closed

[2016-12-16 16:48] #14 closed

[2016-12-16 16:48] jthomas commented on #4
https://github.com/openwhisk/openwhisk/blob/master/docs/apigateway.md

[2016-12-16 16:49] jthomas commented on #4
This functionality is now live in OpenWhisk.

[2016-12-19 10:08] jthomas opened #17 "Add InvokeLocal Command"

[2016-12-19 17:53] jthomas commented on #4
- [ ] Log API endpoint host during deployment
- [ ] Show routes during `info` command.

[2016-12-20 11:17] #4 closed

[2016-12-20 11:17] #8 closed

[2016-12-20 17:51] #17 closed

[2017-01-03 13:52] dpittner opened #18 "Instructions incorrect with new authentication model of whisk service"
Setting up the cli according to the document doesn't work when following the current CLI instructions that are linked:
https://console.ng.bluemix.net/openwhisk/cli

The rules fail to deploy unless I'm explicitly setting a namespace in .wskprops. (Which is not what the CLI suggests)

Error is:
Serverless: Packaging service...
Serverless: Compiling Functions...
Serverless: Compiling API Gateway defi

[2017-01-03 13:54] dpittner commented on #18
When thinking about this more, this is more likely a problem with wsk-cli

[2017-01-03 14:02] dpittner commented on #18
I think this will work once https://github.com/openwhisk/openwhisk/issues/1673 has been fixed.

[2017-01-03 17:45] jthomas commented on #18
Thanks for reporting this, I'll look into it.

[2017-01-04 14:13] jthomas commented on #18
Should be resolved with the latest commit.

[2017-01-04 14:13] #18 closed

[2017-01-19 15:14] jthomas opened #19 "Add default events for common triggers."
Allow users to define events like `schedule` that will be converted to the rules and triggers that define the alarm trigger feed.

This will make it easier for developers to move from other providers.

[2017-01-19 22:57] worldsoup opened #20 "release checklist"
- [x] docs on serverless.com
- [x] coordinate story for posts
- [x] blog post on serverless.com
- [x] blog post on IBM property
- [x] how-to video

[2017-01-24 09:35] jthomas opened #21 "Active Rules can now be deleted without disabling"
https://github.com/openwhisk/openwhisk/issues/1561#issuecomment-262856512

We can re-factor the code to remove these extra API calls and speed up deployment.

[2017-01-24 16:35] jthomas commented on #20
I've opened the PR to get the docs on the main site.
Will move onto these other items now.

[2017-01-24 17:50] jthomas commented on #20
- [ ] publish finish version of the plugin to NPM

[2017-01-25 15:18] jthomas commented on #20
Docs PR is here:
https://github.com/serverless/serverless/pull/3131
Templates PR is here:
https://github.com/serverless/serverless/pull/3122

[2017-01-25 17:12] jthomas commented on #20
Examples PR:
https://github.com/serverless/examples/pull/65

[2017-01-26 17:25] #19 closed

[2017-01-26 17:32] jthomas opened #22 "Add Event Type: Kafka"
This package implements a Kafka queue trigger feed in OpenWhisk.
https://github.com/openwhisk/openwhisk-package-kafka

Add a new event type to bind this to functions.

[code]

[2017-01-26 17:33] jthomas opened #23 "Add runtime support for non-Node.js languages."
Each runtime will need packaging in a different way to the current package bundle.
Native runtimes (Python, Java, Swift) should be easy to add.
Binaries runtimes could also be supported through dockerskeleton image.

[2017-01-26 17:34] jthomas opened #24 "Add Event Type: CouchDB"
OpenWhisk has a Cloundant-based trigger feed.
https://github.com/openwhisk/openwhisk-package-cloudant

Add this as a new database updates feed.

[2017-01-30 14:47] jthomas opened #25 "Support HTTP event object parameter"
This implementation currently supports the HTTP event in the following format.

[code]

It does not support the secondary style that AWS Lambda's implementation also supports.

[code]

This implementation should be updated to support this.

[2017-01-31 12:54] jthomas opened #26 "Confusing API Gateway Endpoint Logging"
On deployment, the provider plugin prints the base API gateway path to the console. It doesn't list the individual function paths and methods. This can be confusing for a new user.

Here is the equivalent from AWS Lambda's provider....
[code]

We should match this behaviour.

[2017-02-01 16:43] csantanapr opened #28 "problems running invoke local -f hello"
Steps to reproduce

[code]
Get errors
[code]

Running remotely after deploy works, but it doesn't locally
[code]

As workaround using this to run locally with a test.js
[code]
[code]

env:
~/foo/serverless
$ npm ls -g serverless
/Users/csantanapr/.nvm/versions/node/v6.7.0/lib
└── serverless@1.6.1

~/foo/serverless
$ npm ls -g serverless-openwhisk
/Users/csantanapr/.nvm/versions/node/v6.7.0/lib
└──

[2017-02-03 11:01] jthomas commented on #20
This happened :)

[2017-02-03 11:01] #20 closed

[2017-02-03 13:21] jthomas opened #29 "Use packages to implement "services"?"
The Serverless Framework uses the concept of services to logically group serverless functions running on the serverless platform.

On AWS, this corresponds to a separate cloudformation template and service definition for each service.

OpenWhisk has a different model (packages) for managing related serverless resources (actions, triggers, rules).

The current provider implementation uses service a

[2017-02-03 13:59] mbehrendt commented on #29
sounds very reasonable to me.

From a user experience PoV we just have to make sure it's clear to users that then they'll have to invoke actions with a pkg prefix, so they don't get confused

[2017-02-03 16:52] #26 closed

[2017-02-03 17:04] jthomas commented on #28
This is due to the breaking change in the framework which moved the defaults parameter up to the provider.
I'll need to resolve this in numerous places in the toolkit next week.

[2017-02-06 12:50] #28 closed

[2017-02-06 12:56] csantanapr commented on #28
👍

[2017-02-07 17:25] #21 closed

[2017-02-07 17:42] #25 closed

[2017-02-07 17:43] jthomas opened #30 "Add Event Type: Feed"
Simplify creating event feeds by allowing user to provide trigger details as inline event.
This improves upon current experience of having to use `resources` section.

[2017-02-08 10:12] jthomas opened #31 "Schedule event fails to redeploy"
Updating `schedule` events fails as the API doesn't support updating these triggers.
The framework will have to ensure it is removed before deploying again.

[2017-02-08 10:57] #31 closed

[2017-02-08 12:51] jthomas commented on #29
OpenWhisk does not currently support triggers and rules being located within package.
https://github.com/openwhisk/openwhisk/issues/1825

I'm going to put this in the backlog until there's a resolution on whether this will be possible in future.

[2017-02-09 09:53] jthomas opened #32 "Add support for web-exported functions"
https://medium.com/openwhisk/serverless-http-handlers-with-openwhisk-90a986cc7cdd#.tlk3xgadg

[2017-02-10 13:14] nauerz-ibm opened #33 "serverless deploy results in syntax error due to strict mode not being supported"
$ serverless deploy

  Syntax Error -------------------------------------------

     Block-scoped declarations (let, const, function, class)
     not yet supported outside strict mode

     For debugging logs, run again after setting the "SLS_DEBUG=*" environment variable.

  Get Support --------------------------------------------
     Docs:          docs.serverless.com
     Bugs:          githu

[2017-02-10 15:50] jthomas opened #34 "Update README"
[code]

refers to a function that isn't defined.

Other items...

- The boilerplate also isn't necessary anymore with the template creation support.

[2017-02-10 16:34] #34 closed

[2017-02-10 16:50] jthomas commented on #33
I've added an "engines" flag to the package.json to enforce the requirement that the plugin relies on the Node.js 6.X or above.

This has been highlighted in the README as a requirement.

[2017-02-10 16:52] #33 closed

[2017-02-10 19:01] #32 closed

[2017-02-13 14:28] nieleyde opened #35 "API management"
Could you provide more details on the API mgmt implementation?  From the endpoint URL I'm assuming that Bluemix IBM API Connect is being used, however I don't see the API connect service provisioned under my Bluemix account.  Is some other instance of the service being used?  How can I use my provisioned instance API Connect in Bluemix?

Thanks in advance.

[2017-02-13 14:41] jthomas commented on #35
Hello @nieleyde

API management is handled using the experimental API gateway feature:
https://github.com/openwhisk/openwhisk/blob/master/docs/apigateway.md

The API gateway used will be dependent on the OpenWhisk provider's implementation. I'm not sure what happens on IBM Bluemix, I'll ask a colleague to let you know.

[2017-02-13 15:28] csantanapr commented on #35
Hi @nieleyde currently in Bluemix API Connect service is not being used.
What's being used in Bluemix is what @jthomas mentioned a cluster of instance of the containerhttps://github.com/openwhisk/openwhisk-apigateway

[2017-02-13 16:04] #35 closed

[2017-02-13 18:42] nieleyde commented on #35
Thanks for the info.

[2017-02-24 21:45] avwsolutions opened #36 "Add ignore_certs constructor option (or make it available)"
Add ignore_certs constructor option (or make it available) like wsk -i). Currently I get an error during deploy of the boilerplate.

Failed to deploy function (localess-dev-hello_world)
 due to error: Error encountered calling OpenWhisk: Error:
 self signed certificate

[2017-02-25 09:32] jthomas commented on #36
Thanks for reporting this. I will add this in.

[2017-02-25 12:48] avwsolutions commented on #36
HI James,
Thanks it would be great. I already found some other engineers reporting the same issue at the Serverless forum](http://forum.serverless.com). I will communicate this coming fix within the forum. If you need some testing you can contact me.

[2017-02-25 14:03] jthomas commented on #36
Thanks for the heads-up, I hadn't been monitoring the forum.

[2017-03-01 11:18] shawdm opened #37 "Exception when deploying Message Hub trigger"
Deploying a Message Hub trigger:

[code]

Causes the following exception:
[code]

Trying to put some debug information in ```deployFeeds.js``` I changed the deployFeed method to
[code]

...so I could add some logging.  Adding the normal function rather than the big arrow one seems to make it work, or at least not throw any exceptions, but I can't understand why.  I'm sure this is my lack of unders

[2017-03-01 11:33] jthomas commented on #37
Thanks @shawdm, I'll look into this.
What version of Node.js and Serverless FW are you using?

[2017-03-01 11:37] shawdm commented on #37
Node: 6.10.0
Serverless: 1.7.0

[2017-03-01 20:34] jthomas commented on #37
The Kafka Brokers SASL parameter needs to passed as the raw comma-separated string...

[code]
..or a YAML list

[code]

but not the encoded string format used on the `wsk` command-line.

I'm closing this ticket as it should work now, if you are still having problems let me know!

[2017-03-01 20:34] #37 closed

[2017-03-11 08:34] jthomas opened #40 "Add Message Hub Event Source"
Add IBM Message Hub event source using this package (https://github.com/openwhisk/openwhisk-package-kafka). Users should be able to set up events without manually configuring triggers and rules.

[2017-03-11 08:35] #40 closed

[2017-03-11 08:37] jthomas opened #41 "Release process 0.5 version"
- [x] Update website documentation
- [x] Add examples for new features to serverless-examples repo
- [x] Write blog post about new release
- [x] NPM publish 0.5

[2017-03-11 09:45] jthomas commented on #36
@avwsolutions I've added the code for this, it'll be released in the upcoming 0.5 version.

I'll close this ticket when it's available.

[2017-03-11 09:48] #36 closed

[2017-03-11 11:24] jthomas commented on #24
Implemented with 26b6b0f

[2017-03-11 11:24] #24 closed

[2017-03-13 17:20] jthomas opened #42 "Add runtime support for Python"
Look at adding Python support in this provider plugin.

[2017-03-13 17:21] jthomas commented on #22
This should be a clone of the Message Hub event with less parameters.

[2017-03-13 17:22] jthomas opened #43 "Add more examples to `serverless-examples`"
Need to highlight new features in the 0.5 release.

[2017-03-13 17:23] jthomas opened #44 "Add support for Docker Action images."
Need to think about supporting public Docker images and "blackbox" actions.

[2017-03-18 18:31] jthomas opened #45 "Show web-export: true URLs"
If we have deployed Web Actions, show the URLs to access the functions in sls info.

[2017-03-26 00:32] jthomas commented on #42
Need to add documentation.

[2017-03-27 16:25] jthomas opened #46 "Output activation logs if activation fails."
When an activation fails, we want to check the logs for more information. Should add this automatically to save the manual step.

[2017-03-29 13:00] #41 closed

[2017-04-11 09:29] cjelger opened #47 "Add verbose output to Openwhisk provider deploy command"
When running `serverless deploy` with the openwhisk provider, the `--verbose` switch does not have any effect. It would be really helpful if this could add some details while performing the "Deploying Functions..." and "Deploying Sequences..." steps (and probably also all other steps too), so that it's clear what actions/functions are exactly being deployed. The summary displayed after the deploym

[2017-04-11 11:17] cjelger commented on #29
Actually it's already possible to deploy actions into an **existing** package by simply specifying a function name like `package-name/function-name`. But it would be nice to be able to deploy the service as a package and automatically assign functions to packages without having to always add the package prefix to the function name. However it would be nice to have some parameters to switch these f

[2017-04-11 14:30] #23 closed

[2017-04-11 14:30] #42 closed

[2017-04-11 14:30] #43 closed

[2017-04-11 14:30] #44 closed

[2017-04-11 14:30] #45 closed

[2017-04-12 07:28] jthomas opened #49 "Add Swift plugin for automatic compilation"
Swift execution can be speed up by compiling and deploying the binary, rather than the source files.

Using Docker to run the container locally, users can build the executable for the correct runtime. This approach is detailed here:
https://github.com/openwhisk/openwhisk/blob/master/docs/actions.md#packaging-an-action-as-a-swift-executable

As this relies on Docker and external images, having this

[2017-04-12 07:38] akrabat commented on #49
A plugin makes sense. It's certainly a requirement for using Swift in OpenWhisk as it cuts the cold-start time by a couple of seconds.

https://github.com/SwiftOnTheServer/flashcards/blob/master/api/compile.sh is how I currently do it.

Additional thoughts:

1. The file containing the function must be called `main.swift` in the Docker container as otherwise the compiler won't build it. See [lines

[2017-04-20 13:20] cjelger opened #50 "Handle returned error code differently based on the serverless command"
In the case where, for example, the API gateway functionality is disabled, calling `serverless deploy` fails when the command tries to get the api-gw endpoints. The command also returns an error code to the Linux shell, so any automated deployment script (for example in Jenkins) considers the deployment to have failed. However, the deployment succeeded, what failed was the call to display  the sum

[2017-04-21 13:50] jthomas opened #51 "Support new package command for event hooks"
Need to migrate commands to hook into event sources from package rather than deploy commands.
https://github.com/serverless/serverless/pull/3496

[2017-04-23 17:35] shikhirsingh opened #52 "CORS support"
There needs to be support for CORS in serverless.yaml, similar to that provided by AWS

[2017-05-03 09:52] jthomas opened #53 "Support New API Gateway Service."
OpenWhisk has now moved the API Gateway service from Experimental to Production.

This has changed the API and other options. I need to update the API event plugin to send the Swagger YAML to the new endpoint.

[2017-05-03 09:52] jthomas commented on #52
Thanks for the feedback, I'd add this feature when I'm updating the API GW service to use the new production service.

https://github.com/serverless/serverless-openwhisk/issues/53

[2017-05-17 01:13] bryantsai opened #55 "Once redeploy, all active rules become inactive"
If I do `serverless deploy` for the first time, all rules created are indeed in active state. But as long as I call `serverless deploy` again, any existing active rules become inactive.

[2017-05-23 05:22] lynnaloo opened #56 "http POST event is no longer working"
This event was working previously, but when I tried to deploy to a different environment it no longer worked. `GET` seems to be fine, but the resulting `POST` uri doesn't execute my action.

[code]

[2017-05-23 09:55] jthomas commented on #56
Thanks for reporting this.

Do you see the activation listed if you look at the logs?

[2017-05-23 14:20] lynnaloo commented on #56
No, there's no activation in the logs. As an interim solution, I went into the API area in OpenWhisk and created it manually and that is working. I can push my code to GH if you want a test case.

[2017-05-23 15:13] jthomas commented on #56
That would be awesome, I can debug it from there.

[2017-05-23 16:27] lynnaloo commented on #56
This is part of a bigger project, but I'm deploying from this folder:
https://github.com/lynnaloo/go-away-kitty/tree/add-open-whisk/open-whisk

I have both `serverless` and this plugin installed globally.

[2017-05-31 12:12] jthomas opened #57 "Add support for bluemix credentials from file."
Bluemix CLI stores credentials in the user's home directory under `.cf` folder. This will be a better place to automatically pull credentials from rather than `.wsk`.

This will include new API Gateway tokens that are required for OpenWhisk on Bluemix.

[2017-05-31 19:31] bbilger opened #58 "Deploy => API-GW => Bad Request"
Hi,
I am rather new to openwhisk, so sorry if I do an obvious mistake.
When I try to deploy any example or just the template, I get a "Bad Request" error (see below) and if I try to deploy an http event handler, the deployment fails completely.

I followed the installation/setup steps from the docs and my `~/.wskprops` file contains APIHOST, APIGW_ACCESS_TOKEN and AUTH.

Do you have any idea what

[2017-06-02 17:26] kowsikans commented on #58
i get the same error, do you have any solutions?

[2017-06-04 12:56] jthomas commented on #58
Hello.

Unfortunately, I've been delayed getting the new API gateway support finished. The docs were actually updated before I pushed the new release out which supports the new API Gateway.

I'll hopefully get this finished and released this week. I'll update the ticket when I've pushed the release out so you can re-test.

Apologies!

[2017-06-05 02:59] lovellfelix commented on #58
@jthomas any work-around for this in meantime ?

[2017-06-05 09:43] jthomas commented on #58
If you unset the `APIGW_ACCESS_TOKEN` is should use the older API GW service by default. This *might* work.

[2017-06-05 15:03] lovellfelix commented on #58
@jthomas  Thanks for the prompt response.  I will give it a try.

[2017-06-05 16:01] #55 closed

[2017-06-06 08:53] jthomas commented on #52
Hello @shikhirsingh.

I've been investigating this and the short answer is I won't be able to include this feature for the upcoming release (0.7).

With the new [API Gateway support](https://github.com/serverless/serverless-openwhisk/issues/53), CORS is turned on by default for all APIs with the following headers. You do not need to configure this manually.
[code]

I want to provide support for tu

[2017-06-06 09:39] jthomas commented on #50
Thanks for the PR, I've merged this. Will be included in the upcoming release.

[2017-06-06 09:39] #50 closed

[2017-06-06 09:51] cjelger commented on #50
Ok thx!

[2017-06-06 15:21] #47 closed

[2017-06-06 15:23] #53 closed

[2017-06-06 15:32] #51 closed

[2017-06-06 17:14] lovellfelix commented on #58
I ended up installing your latest commit and it worked like a charm. 👍
`npm i serverless/serverless-openwhisk#50f85faa1e340bbd8c528dc3e60b6b47c68a8932  -g`
This will work for me until your next release

[2017-06-06 17:18] jthomas commented on #58
Glad to hear, thanks for beta-testing! I'm hoping to push out the official release tomorrow when I've done a bit more testing.

[2017-06-08 11:45] #58 closed

[2017-06-08 11:59] jthomas commented on #56
I tested your project and it should now be working with the 0.7 release!

[2017-06-08 11:59] #56 closed

[2017-06-08 14:19] lynnaloo commented on #56
Thanks @jthomas! you've been my hero during this project

[2017-06-08 14:58] jthomas commented on #56
Keep the feedback coming 👌

[2017-06-08 18:29] bbilger commented on #58
works for me now, thanks!

[2017-06-08 20:23] bbilger opened #59 "APIGW Response Content Type + Raw Web Action"
Hi,
I am rather new to openwhisk, so I hope the statements here are correct and please correct me if I am wrong!

Is there any way to set the response content type for an API Gateway endpoint? To me it looks as if the response content type is automatically set to `application/json`. It would be helpful if we were able to set it to `http` (`Use "Content-Type" header from action`) or any of the poss

[2017-06-09 06:47] lynnaloo commented on #56
I'm getting a different error now that I'm hoping you can help me with
[code]

[2017-06-12 08:58] jthomas commented on #59
Thanks for the feedback. I'll investigate and see how easy this would be to do do for the next release.

[2017-06-16 11:00] JohnCoding94 opened #61 "Deploying API Gateway definitions... 401"
I am trying to deploy a basic function with an HTTP trigger, but it looks like my token is not recognized:

[code]

Here are the commands i have exucuted (i copy/paste all values from my ~/.wskprops file):

[code]

Do you know why?

I am using serverless-openwhisk@0.7.0 and serverless@1.15.3.

My serverless.yml is:

[code]

[2017-06-16 17:28] jthomas commented on #61
Hello @JohnCoding94. Thanks for the detailed bug report.

I'm also seeing this issue. Can you run `wsk api list` and tell me what happens? This is also failing for me which leads me to believe it's a bigger issue than the framework. I'll investigate.

[2017-06-16 19:02] mdeuser commented on #61
Assuming the OW_APIHOST value was set to openwhisk.ng.bluemix.net, there was a backend API GW domain name change that resulted in the 401.  A patch was applied; hopefully, that 401 failure is no longer appearing.

[2017-06-17 07:18] jthomas commented on #61
Thanks for the update @mdeuser.

I cannot replicate the issue anymore. @johncoding94 can you confirm that has been fixed for you?

[2017-06-17 08:18] JohnCoding94 commented on #61
I have just tested again the same way, and it works!

Thanks!

[2017-06-17 08:18] #61 closed

[2017-06-19 09:36] jthomas opened #62 "Sequence Action with Package Individually Won't Deploy"
If a user chooses to package functions individually, sequence actions should not require any source files.

[code]

This is failing with the following error:

[code]

[2017-06-19 09:37] jthomas commented on #62
cc @bseyb

[2017-06-29 10:13] HyperBrain opened #63 "Add internal hookable lifecycle events for the OpenWhisk plugin to the cheat sheet"
Does the plugin add any internal lifecycle events (similar to the extensions, the AWS plugin does)?

If yes, then it would be great if I could add them to the **Plugin author's lifecycle cheat sheet** available here https://gist.github.com/HyperBrain/50d38027a8f57778d5b0f135d80ea406. Currently the GIST doc only shows the aws specific sub lifecycles, but as it is intended to be provider independent

[2017-06-29 13:41] jthomas commented on #63
Hello 👋.

Not at the moment, I didn't know provider plugins could expose events until now!

I need to have a look over the code and check if there's anything it would make sense to expose.

[2017-06-29 14:27] HyperBrain commented on #63
Yeah. It offers great improvements for other plugin writers that want (or must) offer different behavior for provider agnostic or specific plugins.

[2017-07-07 12:05] gabrielperales opened #64 "How can I set a environment variable/secret?"
I'm trying to use an environment variable inside my function, but when I run muy function it is `undefined`. I've tried with this `serverless.yml`:

[code]

and this is what I have inside `serverless.env.yml`:

[code]

and this is my `handler.js`:
[code]

[2017-07-08 11:29] jthomas commented on #64
Hello @gabrielperales 👋. Thanks for raising an issue with all the context on your problem.

OpenWhisk does not support using environment variables to pass custom parameters into the actions. Instead, of using environment variables, you can use *default parameters* on actions.

Default parameters can be defined when you create or update an action. The platform stores these parameters internally and

[2017-07-08 11:31] jthomas commented on #64
If you are still having issues, let me know. It's a common question people have when moving to OpenWhisk!

[2017-07-08 11:31] #64 closed

[2017-07-08 18:30] gabrielperales commented on #64
@jthomas Thank you very much for answering. I'll try it.

[2017-07-08 20:49] gabrielperales commented on #64
@jthomas what if I'm using the docker runtime? How can I pass a parameter?

[2017-07-10 09:46] jthomas commented on #64
Default parameters are managed by the platform, rather than the runtime environment. This means Docker runtimes will receive an API request containing those values upon invocation. Setting default parameters is the same between normal and docker runtimes.

Have you seen this blog post?
http://jamesthom.as/blog/2017/01/16/openwhisk-docker-actions/

See the section "Invocation Requests".

[2017-07-10 10:11] gabrielperales commented on #64
@jthomas No, I haven't seen it yet. I just have started to read/learn about serverless. Thank you very much for answering again.

[2017-07-10 11:14] jthomas commented on #64
BTW there's a great OpenWhisk Slack channel where the community can help you out with questions at
https://openwhisk.incubator.apache.org/slack.html

[2017-07-12 10:51] jthomas commented on #49
This feature can be achieved with the new [OpenWhisk Swift package](https://github.com/jthomas/OpenWhiskAction), Docker and NPM scripts. I've created an example using this approach here:
https://github.com/serverless/examples/tree/master/openwhisk-swift-precompiled-binaries

The `npm run-script compile` will running the following command.
[code]

Using the `serverless-plugin-scripts` plugin, we ca

[2017-07-12 10:51] #49 closed

[2017-07-12 10:51] #62 closed

[2017-07-19 10:54] maxfrigge commented on #59
There is also another response type `http`, which supports body, headers and status.

https://github.com/apache/incubator-openwhisk/blob/master/docs/apigateway.md#full-control-over-the-http-response

[2017-07-20 14:22] herzog31 opened #65 "Handler parsing fails for dots in path"
If I specify a function like this

[code]

I get the following error

`Function handler (myFunction@0.js) does not exist.`.

My folder structure looks like this:
[code]

[2017-07-20 15:59] jthomas commented on #65
Oo interesting, you found a bug! I think it's due to the naive code used to turn a handler into a path:
https://github.com/serverless/serverless-openwhisk/blob/master/compile/functions/runtimes/base.js#L53-L55

Would you like to have a go at fixing this and submit a PR? Just add a simple unit test to demonstrate the bug and fix the function to handle this example.

If not, I'll fix this but it'll

[2017-07-21 10:06] #65 closed

[2017-07-26 09:42] herzog31 opened #67 "Final action package is not correctly compressed"
The action package that is uploaded uses `jszip`s default `STORE` compression algorithm, which does not compress at all. See https://stuk.github.io/jszip/documentation/api_jszip/generate_async.html.

[2017-07-26 10:01] herzog31 opened #69 "Relative paths for actions are not correctly packaged"
Using relative paths like in the following example fails, because

* `calculateFunctionMain()` is not able to determine the main function correctly.
* The relative path is not correctly resolved in `generateActionPackage()`, so it stays relative in the generated `package.json` file which is incorrect.

[code]

The folder structure would look like this:
[code]

This issue is partially related to #6

[2017-07-26 15:56] jthomas commented on #69
👋 @herzog31, thanks for raising this.

I'll have a proper review tomorrow and merge the PR assuming all is well.

[2017-07-26 16:19] #67 closed

[2017-07-28 09:37] jthomas opened #71 "Support Docker runtime with deployment archive."
Users can currently choose between using a Docker runtime, with the `handler` as an image tag, or a Binary runtime, with the `handler` as a file path.

OpenWhisk does support deploying both a custom Docker image with a deployment package. Runtime support for this option needs adding.

[2017-07-28 13:30] #69 closed

[2017-07-28 13:33] jthomas commented on #69
Merged and released, thanks @herzog31.

[2017-08-07 20:59] maxfrigge opened #72 "Support multiple stages"
I cannot figure a way to deploy to multiple stages/environments. If I am not mistaken, there is stage property for AWS that takes care of this.

What I would like to achieve are two API endpoints to point at different versions of the same handler - e.g. staging and production. I tried adding a prefix to the http event route, but it gets overwritten each time a function with the same name is deploy

[2017-08-15 06:52] shikhirsingh commented on #52
@jthomas Did you get a chance to implement in 0.8?

[2017-08-15 08:25] jthomas commented on #52
@shikhirsingh Hey, I have not. I haven't had much time to work on the project recently. It might might be a few months before I get round to adding this. I would happily accept a PR if you want to work on it?

[2017-08-18 07:41] shikhirsingh commented on #52
Any workaround? This is a significant deficiency for those creating single page apps.

[2017-08-18 13:53] jthomas commented on #52
@shikhirsingh CORS is enabled by default for APIs, are you saying you want to turn it off or that you want more control over the CORS options returned?

[2017-08-21 17:27] jthomas commented on #72
Hello @maxfrigge, let me try this out and see what's going wrong...

OpenWhisk doesn't have a built-in concept of "stages" like AWS Lambda. I've chosen to simulate this behaviour by putting the stage in the function name.

[2017-08-21 17:35] jthomas commented on #72
I've been experimenting. Is what you're looking for?

[code]

If I type `serverless deploy -s  prod|dev` I get different functions with separate API endpoints.

[2017-08-22 15:45] jthomas opened #73 "Add PHP runtime support"
PHP has now been officially added to OpenWhisk.
https://github.com/apache/incubator-openwhisk/commit/9401f8b29ae2ddc470d9e543f0f790776ae0b028#diff-e3e2a9bfd88566b05001b02a3f51d286

We should add this as a supported runtime to the project. Here are the tasks that need completing...

* Add new runtime module for PHP to existing list of runtimes [here](https://github.com/serverless/serverless-openwhi

[2017-08-22 16:00] jthomas opened #74 "Add new Cloudant feed parameters to event"
[Cloudant trigger feed](https://github.com/apache/incubator-openwhisk-package-cloudant) also supports the following parameters.

* `filter`
* `query_params`
* `maxTriggers`

These values need to be added the `feed_parameters` if present in YAML file [here](https://github.com/serverless/serverless-openwhisk/blob/master/compile/cloudant/index.js#L53-L69).

Want to be able to support this YAML exampl

[2017-08-22 16:18] jthomas opened #75 "Support using short-hand name for combinators in sequences"
[Combinator actions](https://github.com/apache/incubator-openwhisk-catalog/tree/master/packages/combinators) are often used in sequences to automate error-handling  for actions.

https://www.raymondcamden.com/2017/05/26/handling-errors-in-openwhisk-sequences-with-a-combinator/

Action sequences [can be created](https://github.com/serverless/serverless-openwhisk#writing-sequences) using the framewo

[2017-08-25 12:39] #71 closed

[2017-08-25 14:50] jthomas commented on #73
Added examples here: https://github.com/jthomas/examples/commit/c2f25d2a1635e592f37698354a4cc579e1084ef7

[2017-08-25 14:50] jthomas commented on #73
Update docs here: https://github.com/jthomas/serverless/commit/2da8f33bfc5c1d21bb1941de5fad97e7d07cc3ab

[2017-08-25 14:51] jthomas commented on #73
Once this version is released, need to open PRs to get changes back into framework.

[2017-08-25 14:51] #73 closed

[2017-08-25 15:11] jthomas commented on #74
Fixed with: https://github.com/serverless/serverless-openwhisk/commit/cbaa98d38efddb302c6813966f00e687204af7b1

[2017-08-25 15:11] #74 closed

[2017-08-29 15:50] aml2732 commented on #13
CI support added:
https://github.com/serverless/serverless-openwhisk/pull/76

[2017-08-29 15:50] #13 closed

[2017-09-07 08:50] shivekkhurana commented on #61
I'm having a similar issues, except I get an empty errors object, instead of 401.

I don't have the gw_access_token configured. How did you generate the API_GW_ACCESSTOKEN ?

[2017-09-08 11:19] jthomas commented on #61
Hello @shivekkhurana, the `API_GW_ACCESSTOKEN` token can be generated by running `wsk bluemix login`. This will retrieve the API gateway authentication token and store it in `~/.wskprops`.

[2017-09-08 22:26] allansduarte opened #77 "Compatibility issues with other Serverless plugins"
[serverless-plugin-typescript#2 on Azure](https://github.com/graphcool/serverless-plugin-typescript/issues/2)

I believe the same issue occurs in Openwhisk projects.

I implemented the _serverless-plugin-typescript_ plugin and it worked fully invoking a local function, but when trying to deploy... the folder containing the handler.js in **/.build is deleted**, presenting the error **Function handl

[2017-09-11 16:32] jthomas commented on #77
Hello, thanks for raising this. I can see the same behaviour.

I'm not sure how that plugin works but the `handler.js` is not available in the present directory after the typescript compiler is ran. If you check through the source code, how is the code made available to the provider packaging plugin?

[2017-09-11 20:41] allansduarte commented on #77
It would be great to be able to use other plugins fully.

As this was a relevant issue here ... We decided to implement Typescript and Webpack without third-party plugin interventions. Working only with Openwhisk plugin. Because my problem is solved, I no longer have the source code of the Typescript plugin to properly collaborate with this issue.

So I leave a small contribution here. A simple bo

[2017-09-12 08:21] jthomas commented on #77
Wow, that's a great demo project 🥇. Thanks for the contribution @allansduarte

[2017-09-19 09:28] maxfrigge commented on #72
@jthomas this totally works! Cheers!

Having it in the function name didn't affect the API Endpoint.

[2017-09-19 09:28] #72 closed

[2017-09-25 10:14] jthomas commented on #72
Hurrah! Great 😎

[2017-09-27 09:38] l2fprod opened #78 "On Ubuntu, "npm install -g serverless serverless-openwhisk" fails during postinstall"
My setup involves running Ubuntu 16.04 as a Docker container on macOS

`npm install --global serverless serverless-openwhisk` leads to:
[code]

Installing with `npm install --global serverless serverless-openwhisk --unsafe-perm spawn-sync` solves the issue.

Similar problem when running `npm install` in the project to link the serverless module.

[code]

Running `npm install --unsafe-perm` solves

[2017-09-28 14:05] siegesmund opened #79 "Deploying binary functions individually fails"
`sls deploy -f foo`  fails with a compiled binary. `sls deploy` deploys all functions, including the binary, successfully.

It fails at `serverless-openwhisk/compile/functions/runtimes/base.js`.

Specifically, in

`getArtifactPath(functionObject) {
    return this.serverless.service.package.individually ?
      functionObject.artifact : this.serverless.service.package.artifact;
  }`,

functionObje

[2017-09-29 09:03] jthomas commented on #79
Hey @siegesmund, can you share your `serverless.yml`?

[2017-09-29 11:48] siegesmund commented on #79
This is an example. One deviation from your example functions is that runtimes are defined on a per-function basis, something that works with other cloud provider plugins.

`
service: foobar

provider:
  name: openwhisk

functions:
  # Returns golang binary version
  version:
    runtime: binary
    handler: functions/version/main

plugins:
  - serverless-openwhisk
`

To get around the error, I've

[2017-09-29 21:17] allansduarte opened #80 "How to create APIGW --response-type http with Serverless"
Hi there!

I am looking for guidelines for creating apigw that responds to the content-type header.

Whenever I create an API via Serverless it seems that the content-type is always JSON, I'm looking for a `'content-type': 'text/html'`.

That works like this:

Payload:
[code]
Output:
`123456`

_It works perfectly when creating with wsk CLI, but with serverless no._

[2017-09-30 13:03] siegesmund commented on #79
I have created a [repo](https://github.com/siegesmund/openwhisk_test) which recreates the problem on my machine. Again, the problem is:

sls deploy             >> works
sis deploy -f test  >> fails

I encountered this bug while writing an [openwhisk go plugin](https://github.com/siegesmund/serverless-openwhisk-go) which allows a developer to manage the full Go action lifecycle from the sls command

[2017-10-02 15:54] jthomas commented on #79
Great, thanks for the additional context. I've reproduced the problem locally as well. PR you raised looks fine but can you update the tests so the CI passes?

[2017-10-03 13:29] jthomas commented on #80
Looking into this issue, the serverless framework plugin needs to pass the correct parameter during route creation to enable this. I'll need to update the `openwhisk-client-js` library to support this and also then implement this in the framework.

[2017-10-03 15:49] jthomas commented on #59
This issue is the same as raised here:
https://github.com/serverless/serverless-openwhisk/issues/80

I've now created a fix and will release in a few days.

[2017-10-03 15:49] jthomas commented on #80
I've pushed a fix for this to master and will release in a few days.

https://github.com/serverless/serverless-openwhisk#connecting-http-endpoints

[2017-10-03 16:26] allansduarte commented on #80
Thanks @jthomas this feature will be very important for everyone who uses Serverless Openwhisk. The deployment flow remains continuous using Serverless.

I do not know if it is the best way, but in the meantime I found a temporary solution that worked here and that can be used for those who have the same question:

In serverless.yml has been disabled `http events` and enabled `annotations` to crea

[2017-10-06 13:45] #80 closed

[2017-10-06 13:46] #59 closed

[2017-10-06 13:46] #79 closed

[2017-10-06 13:48] jthomas commented on #78
Thanks for raising this and providing the context. This is an [known issue with NPM and Docker](https://stackoverflow.com/questions/18136746/npm-install-failed-with-cannot-run-in-wd), rather than this library. I'll closing this ticket as it's not something we can fix.

Hopefully if other people come across this your explanation and solution will be perfect.

[2017-10-06 13:48] #78 closed

[2017-10-09 09:43] l2fprod opened #82 "Properties vs. Parameters"
in https://github.com/serverless/serverless-openwhisk#runtime-configuration-properties it says to use `properties` for default parameters. I tried but it does not work.

Using `parameters` instead works as expected

[2017-10-10 06:07] l2fprod opened #83 ""basePath not unique" when having more than one function deployed with API Gateway"
My serverless.yml has two functions exposed with API Gateway:

[code]

but it fails to deploy

[code]

using serverless-openwhisk@0.10.0

[2017-10-12 20:57] thewtex opened #84 "Request headers not available"
It appears only the JSON request body is passed to the function. According to the documentation, if web actions are enabled, the headers should be in the `__ow_meta_headers` environmental variable, but I do not see them.

[2017-10-12 21:28] jowen commented on #77
+1

I have same problem when using openwhisk and typescript plugins together,  .build is deleted prior to deploy.

[2017-10-16 12:46] jthomas commented on #84
Hello 👋.

Can you share your `serverless.yml` to help me reproduce the issue?

[2017-10-16 13:46] thewtex commented on #84
Hello @jthomas :wave: :-)

A slight modification of `serverless-examples/openwhisk-node-simple-http-endpoint`:

[code]

And I added `console.log(process.env)` to the function.

[2017-10-16 15:33] #83 closed

[2017-10-16 15:34] jthomas commented on #83
I've found the bug - it was a race condition in the deployment code due to having routes with the same base path.

I'll push out 0.10.1 later this week.

[2017-10-16 15:37] #82 closed

[2017-10-16 15:38] jthomas commented on #82
Good catch! Fixed.

[2017-10-16 15:51] jthomas commented on #84
Looking into this, I've discovered the issue: bad docs! 🤔.

Those values are now passed in the event parameters rather than using environment variables.

[code]

This will show values like `__ow_headers`, `__ow_method`, `__ow_path` and others. Web actions have changed since I implemented that feature.

Here's the full list of web action parameters you can expect: https://github.com/apache/incubato

[2017-10-16 15:59] thewtex commented on #84
@jthomas Thanks for looking into it! That is great -- `params` is a nice location for these. I tried locally, but I get an empty `params` -- a version issue?

serverless -1.23.0
serverless-openwhisk - 0.10.0

[2017-10-17 08:40] jthomas commented on #84
The params will only be available when the action is invoked through the web action endpoint.

Can you repeat the steps below to test this?

[code]
Update `handler.js` to contain:

[code]

...and the `serverless.yml`

[code]

Deploying the service and invoking the endpoint returns the parameters above.

[code]

[2017-10-17 08:41] jthomas opened #85 "Update Web Action documentation"
OpenWhisk Web Actions have changed since implementation. Need to review documentation and update with correct parameters.

[2017-10-17 14:26] allansduarte opened #86 "How to enable --web raw"
Hello!

I am looking for guidelines to enable raw http processing on serverless.
`wsk action create /guest /demo /hello hello.js --web raw`

I am currently aware of the possibility of enabling a web action `with web-exports: true`
`--web true`

But not raw http:
`--web raw`

Is there such a possibility nowadays?

[2017-10-17 17:46] thewtex commented on #84
@jthomas Thanks for the detailed instructions! Yes, I was able to reproduce the output. I had tried `serverless invoke -f hello`, which much call something else.

[2017-10-17 17:46] #84 closed

[2017-10-18 15:54] jthomas commented on #86
This is possible. 👏👏👏.

According to this docs, `raw` sets the following two annotations: `web-export` and `raw-http`.
https://github.com/apache/incubator-openwhisk/blob/master/docs/annotations.md#annotations-specific-to-web-actions

This can be achieved with the following `serverless.yml`

[code]

Does that help?

[2017-10-24 03:42] bryantsai opened #87 "Add support for creating actions under custom package"
Packages can be useful for defining default parameters for all actions in it.

[2017-10-25 07:44] jthomas commented on #87
Packages can be used by setting the `name` property on the functions.

[code]

This should be better documented. I'll leave this ticket open till I fix that.

There is a [longer-term plan to use packages to each service](https://github.com/serverless/serverless-openwhisk/issues/29) but that's blocked on a platform issue.

[2017-10-26 18:39] allansduarte commented on #86
Thank you for guiding me through the documentation. This was my only doubt.

[2017-10-26 21:25] #86 closed

[2017-10-28 21:49] sroze commented on #57
I think that this especially should be documented 👍

[2017-11-15 19:33] dbachko opened #90 "initialization errored: Cannot find module 'lodash'"
Can't deploy function, I'm getting this error:

`Serverless plugin "serverless-openwhisk" initialization errored: Cannot find module 'lodash'`

<img width="749" alt="screen shot 2017-11-15 at 2 39 10 pm" src="https://user-images.githubusercontent.com/9260214/32856447-df5a4254-ca12-11e7-838b-a8dfcf0ca073.png">

[2017-11-16 11:49] #90 closed

[2017-11-22 12:54] maxfrigge commented on #90
@jthomas would you mind publishing a new version to NPM with this fix included?

[2017-12-14 20:55] more-ron opened #92 "Custom Domain Support"
It's really inconvenient to keep manually setting the domain on IBM Cloud's web UI for this. Seems their API already supports being able to do this. It's just not the most intuitive way.

I've managed to be able to hack it up by:

* manually getting the routes after deploy
[code]

* picking the first one under `routes.apis` and slicing the swagger doc part.
[code]

* then deleting the routes again

[2017-12-15 16:40] jthomas commented on #92
Thanks for reporting this and the details that help me understand how to fix this.

I'll have a look over the next few weeks and see if I can submit a PR to resolve this.

[2018-02-05 20:38] allen-servedio opened #93 "Add Support For Java Runtimes"
Per what I see in https://github.com/serverless/serverless-openwhisk/blob/master/compile/functions/runtimes/index.js it does not appear that this plugin support Java runtimes.

OpenWhisk does support this runtime: https://github.com/apache/incubator-openwhisk-runtime-java

[2018-02-06 11:25] jthomas commented on #93
@allen-servedio you're the first person to ask for this :)

Is this something you need or just wondering why it isn't implemented? Java is much less popular on serverless platforms due to the startup latency.

It shouldn't be a huge fix to add this. I haven't used the Java runtime so I need to check out how it works.

[2018-02-06 14:16] allen-servedio commented on #93
We are in the process of looking to move an existing code base into IBM Cloud Functions... A large portion of this code base is in Java and so we are interested in using the Java runtime for that. Definitely willing to work with you and help out to get this done.

[2018-02-08 14:35] allen-servedio commented on #29
@jthomas - am I correct that there is not currently a way to create a package using `serverless deploy`? I can see via #87 that you can add an action to an existing package, but I am not seeing a way to create that package in the first place through serverless. It appears that it has to already exist...

[2018-02-08 16:04] jthomas commented on #29
@allen-servedio I've just tested this and you're correct - it does not support this. It shouldn't be too dificcult to add. I'll open an issue to look at this.

[2018-02-08 16:06] jthomas opened #95 "Deploying actions to package that doesn't exist fails."
Actions can be deployed to an existing package (#87) but this requires the package to exist. If the package does not, the plugin doesn't create the package.

We should add support for auto-creating packages on deployment. Packages should also be removed if empty once resources are removed.

[code]

[2018-02-08 16:07] jthomas commented on #29
https://github.com/serverless/serverless-openwhisk/issues/95

[2018-02-08 16:32] allen-servedio opened #96 "Allow Creation of Packages and Define Parameters"
When creating a package, you can define parameters (with default values) that will be passed into every action/feed defined in the package: https://github.com/apache/incubator-openwhisk/blob/master/docs/packages.md#creating-a-package

This allows creation of reusable packages that users can bind to with their values for the parameters. An example of this might be a package with actions that intera

[2018-02-08 16:36] allen-servedio opened #97 "Allow Binding To A Package and Supply Parameters"
Packages can have parameters (see #96) that allow users to pass in common values to all actions/feeds defined within the package. To take advantage of this, users often have to create a binding to that package with the parameters that they want to send: https://github.com/apache/incubator-openwhisk/blob/master/docs/packages.md#creating-and-using-package-bindings

As noted in #96, this could allow

[2018-02-08 16:45] allen-servedio opened #98 "Support Configuration for API Gateway"
Per the docs here: https://serverless.com/framework/docs/providers/openwhisk/events/apigateway/ I do not see a way to manage API Gateway configuration: https://github.com/apache/incubator-openwhisk/blob/master/docs/apigateway.md#exporting-the-configuration

The configuration allows for a Swagger definition of the API that is hosted in the gateway. Additionally, for implementations such as IBM Clou

[2018-02-09 13:15] allen-servedio opened #99 "QUESTION: How does serverless deal with the removal or rename of actions/feeds/triggers from its config?"
In looking at use cases in https://github.com/apache/incubator-openwhisk-wskdeploy/blob/master/specification/openwhisk_v0.9.1.pdf (around line number 674), the spec talks about project sync concerns. Is there any expectation that this framework would try to address these or should the user plan to script this outside of serverless?

[2018-02-12 10:17] #93 closed

[2018-02-12 12:06] jthomas commented on #99
The Serverless Framework treats the `serverless.yml` as the "ground source of truth". Any changes to the remote resources independently will need to be replicated in that file.

Does that make sense?

[2018-02-12 13:11] allen-servedio commented on #99
Yes, totally understand. Maybe to give a more concrete example... Suppose I initially define an action called `myAction` in `serverless.yml`. I later decide that I no longer need `myAction` and remove it from `serverless.yml`. So far as I can tell, serverless framework essentially orphans the action as it no longer knows about it. I think there are a LOT of use cases where this just makes sense...

[2018-02-12 14:44] jthomas commented on #99
[code]

That's correct. It won't attempt to remove resources not listed in the YAML. You could probably write a serverless plugin to check the deployed resources against the config and warn or clean up automatically.

Once we get all resources being deployed within a package, it should be possible to have a configuration setting to say "clean out resources on deployment". At the moment, we have to

[2018-02-12 14:44] #99 closed

[2018-02-12 17:48] allen-servedio opened #100 "QUESTION: Support for common actions/feeds/triggers/packages?"
We will have multiple teams that will want to deploy pipelines of actions/feeds/triggers/packages through which there will be common actions/feeds/triggers/packages that the different teams want to use. Our concerns with deploying and managing such an environment is:

1. Preventing one team from modifying/removing a common component. I guess this boils down to some type of component ownership wher

[2018-02-13 12:10] jthomas commented on #100
These are good questions about managing a larger serverless project but I think the answers fall outside the domain of the framework. Here's my thoughts on the issues raised...

1. If you want to prevent users from accidentally removing services, you will have to investigate the security model provided by OpenWhisk around users, workspaces and packages. I would imagine having namespaces for dev, t

[2018-02-13 13:11] allen-servedio commented on #100
Okay, that pretty much confirms what I am hearing then... To recap:

1. I am also hearing that if we want to isolate who can change something, we basically need to deploy the components into an org and space assigned to the team + environment. And then, as you say, lock down who can deploy where through normal access mechanisms. There is nothing in OpenWhisk that assigns security at the component

[2018-02-13 13:11] #100 closed

[2018-03-03 02:46] C-Saunders opened #101 "Support specifying the credentials file path with WSK_CONFIG_FILE"
From [the OpenWhisk CLI docs](https://github.com/apache/incubator-openwhisk/blob/master/docs/cli.md#setting-up-the-openwhisk-cli):

At present, only the default path is supported by this plugin.

[2018-03-14 12:53] Dalfons0 opened #103 "API creation failure: Unable to configure the API Gateway: "Invalid URI \"undefined/tenants\"""
I'm trying to deploy a service with this plugin to a local [minikube](https://github.com/kubernetes/minikube) cluster, if I deploy the service without any kind of event binded to the handler the deploy works perfectly, but If I try to specify an http event to the handler I get this error:
![image](https://user-images.githubusercontent.com/24602242/37403004-b89ef636-278d-11e8-80fb-15a7afdd1a22.png)

[2018-03-15 07:32] masodu commented on #97
If not considered, it would be desirable that the bindings should support both --param and --param-file: https://github.com/apache/incubator-openwhisk/blob/master/docs/parameters.md#working-with-parameter-files

[2018-03-15 20:43] wellermiranda commented on #103
Same here.

[2018-03-15 21:33] #101 closed

[2018-03-15 21:46] jthomas commented on #103
Oh dear this looks bad! The API Gateway integration is a bit complex, I have an idea what's wrong but need to check.

I'm not a k8s person, can you provide simple instructions for me to get OW running on minikube so I can test this out?

[2018-03-16 07:44] Dalfons0 commented on #103
I cloned [this](https://github.com/apache/incubator-openwhisk-deploy-kube) repository and followed the instrucctions in the README to set up OpenWhisk. You can also try to make the set up with the travis [build script](https://github.com/apache/incubator-openwhisk-deploy-kube/blob/master/tools/travis/build.sh), in the same repo, but that didn't work for me 😢 .

[2018-03-20 15:48] jthomas commented on #103
:wave: everyone.

I've managed to set up minikube locally from the repo and get OpenWhisk deployed. Unfortunately, I can't replicate that error with my setup. It all works fine when creating new APIs, which is good but doesn't really help resolve this issue!

Here is the example I'm using...

[code]

[code]

**Can you run the deploy command again with the debug env param (`DEBUG=needle`) and paste

[2018-03-20 15:50] jthomas commented on #103
I'd also had another random thought, can you verify the framework is working against another OpenWhisk instance? I want to check this is a problem with the minikube deployment and not your environment and all platforms.

If you sign up for a free account with IBM Cloud, you use test the framework with IBM Cloud Functions, which is a managed OpenWhisk service. I've got some instructions on doing th

[2018-03-20 16:27] Dalfons0 commented on #103
I removed the minikube instance because right now I have been reasigned to a quite critical project, so I will be faraway for the moment of my serverless research (sadly). But I have put the state of my investigations in a [repo](https://github.com/Dalfons0/OpenWhiskTypescript), and I'll conctact @dario-rodriguez and see if he can lend a hand.

[2018-03-20 17:54] jthomas commented on #85
Also need to look into making annotations like this work better:
https://github.com/apache/incubator-openwhisk/pull/3388

Look into API GW integration.

[2018-03-20 20:03] timonback commented on #103
I had a similar issue. It works in the IBM Cloud, but as it turns out, the `apigateway` image was not running in my local vagrant box from the original OpenWhisk project (might be related to a reboot?). Running this helped:
[code]
Short note about the output of ```DEBUG=needle serverless deploy```: The requests after `Serverless: Deploying API Gateway definitions...` start throwing HTTP 502 errors

[2018-03-23 18:50] jthomas commented on #96
Code to support this feature is complete with 9ce7ae6. This will also close #95

Remaining tasks before I can close this issue....

- [ ] Update main README.md
- [ ] Update package plugin README.md
- [ ] Send PRs to update Serverless Framework site with this information.

[2018-03-25 10:27] #97 closed

[2018-03-25 10:28] jthomas commented on #96
Feature documented here: https://github.com/serverless/serverless-openwhisk#working-with-packages

[2018-03-25 10:29] #96 closed

[2018-03-25 10:29] #95 closed

[2018-03-25 10:30] jthomas opened #104 "Update Serverless Framework website with package documentation"
Need to include documentation from repo README in the external site.

[2018-03-25 10:30] jthomas commented on #87
This is completed.
https://github.com/serverless/serverless-openwhisk#working-with-packages

[2018-03-25 10:30] #87 closed

[2018-03-26 12:59] cjelger opened #105 "Wrong "default" package name in the displayed web action endpoints"
If an action is deployed in a specific package (other than the "default" package), the output of `serverless info` shows a wrong URL for the action as it wrongly adds the `default` package name.

Example output:
[code]

There shouldn't be any "default" string in the URL.

It seems the error comes from https://github.com/serverless/serverless-openwhisk/blob/master/info/index.js#L89 where "default"

[2018-03-26 13:05] cjelger opened #106 "Add support for package annotations"
When creating a package, one should be able to define package annotations like:

[code]

This is particularly useful to create shared packages.

[2018-03-26 13:08] jthomas commented on #105
Thanks for finding this, should be simple to fix.

You are correct that the package is included in the `action.namespace` field rather than the `action.name` 🤷‍♂️

[2018-03-26 17:10] jthomas commented on #106
Good point! I'd forgotten about this....

`annotations` can be enabled as you suggested above. It appears publishing packages uses a seperate `publish` parameter for the package rather than an annotation?

[code]

I'll use a separate `shared` property on the package definition to mirror the CLI.

[2018-03-26 17:26] #106 closed

[2018-03-26 17:41] #105 closed

[2018-03-27 12:00] #85 closed

[2018-03-27 12:05] jthomas commented on #104
https://github.com/serverless/serverless/pull/4857

[2018-03-27 12:05] #104 closed

[2018-03-27 14:29] jthomas opened #107 "Integrate new Web Action authentication."
See details in this ticket.
https://github.com/apache/incubator-openwhisk/pull/3388

[2018-04-02 15:47] darko-stoilevski opened #108 "Failed to deploy API Gateway route. The requested resource does not exist."
Hi,
First of all thank you for the integration plugin, I really appreciate it.

I was testing it out with a local installation of OpenWhisk on an OpenShift cluster (and on a Minishift locally as well) and I get the same error when trying to create an action with an http route.

I'm using the latest versions of all tools:

whisk CLI version       2018-03-28T20:40:42.225+0000
serverless@1.26.1
serve

[2018-04-02 19:55] jthomas commented on #108
Hello @darko-stoilevski, sorry to hear you've encountered a bug!

Can you post your `serverless.yml` in here?

Can you also test that you can use the `wsk api create ...` command from the command-line? Web actions are distinct from the API Gateway service and I wonder if the API Gateway service is configured differently on openshift.

It would also help me if you could run the `deploy` command aga

[2018-04-03 10:45] dario-rodriguez commented on #103
I got the same error:   Failed to deploy API Gateway route (hello) due to error: POST https://10.68.14.217:31615/api/v1/web/whisk.system/apimgmt/createApi.http Returned HTTP 502 (Bad Gateway) --> "API creation failure: Unable to configure the API Gateway: "Invalid URI \"undefined/tenants\"""

Serverless DEBUG=needle output:
`  needle Making request #1 { rejectUnauthorized: false,
  agent: false,

[2018-04-03 11:34] dario-rodriguez commented on #108
It seems that you dont have installed the openwhisk packages. Check the packages with:
`wsk package -i list /whisk.system`

The output should be something like:
[code]

[2018-04-08 22:02] develpr opened #109 "Checking pre-compiled file paths does not work for TypeScript files that are transpiled"
The [serverless-plugin-typescript](https://github.com/graphcool/serverless-plugin-typescript) plugin allows for use of TypeScript for nodejs projects and adds a transpiling step to the deployment process. Unfortunately with the OpenWhisk provider this plugin does not work because a check is made for a particular action handler file at a path that the current plugin assumes will always end with `.j

[2018-04-09 10:06] jthomas commented on #109
Thanks for raising this issue and taking the time to clearly explain understand and explain what's going wrong 💯. It makes it much easier for me to resolve this within the project 👍.

The PR #110 is a sensible approach to resolving this issue. I agree that, in the future, this might affect other runtimes. If it comes up again, it'll be worth redesiging the code to support multiple extensions. Howe

[2018-04-23 10:35] arpin opened #111 "sls logs not working for packaged actions"
I used sls logs command to successfully monitor my ibm cloud functions.

However, when I packaged the action using name attribute and my own package defined in resources. I cannot seem to be able to access the logs using this command.

The command sls logs -tf myfunc does not give any error (like it does when you give it a action name that does not exist) but it does not show any log output either

[2018-04-23 17:09] jthomas commented on #111
Hello @arpin.

Can you paste me your `serverless.yml`? I'll ensure I reproduce the issue properly and then can fix it in the next release.

[2018-04-24 12:02] arpin commented on #111
Here. It works if I comment out `name: testpack/hello`.
[code]

[2018-04-24 14:06] jthomas opened #113 "Support stdin for invoke & invoke local commands"
Replicate this feature:
https://github.com/serverless/serverless/pull/2894/files

[2018-04-24 18:48] csantanapr opened #114 "Support path parameters for APIGateway"
Recently the CLI and Backend was updated to support path parameters

In CLI you would configure like
[code]
I want to be able to configure same using serverless yml file
[code]

[2018-04-26 16:20] jthomas opened #115 "Add support for Composer actions"
Add a new kind for this:
https://github.com/apache/incubator-openwhisk/blob/fa624b96dbb2da60f85bb133caea01ca1b220108/docs/conductors.md

[2018-04-28 17:27] jthomas commented on #114
This will be automatically supported when the feature is supported in the client library.
https://github.com/apache/incubator-openwhisk-client-js/pull/114

[2018-04-28 17:34] jthomas commented on #103
I haven't had time to look into this but I have just seen a similar error using the API Gateway when I had a missing `APIGW_ACCESS_TOKEN` from the authentication credentials.

Have you got the valid value for this token set in your credentials?

[2018-04-29 10:37] jthomas commented on #115
This is already supported as conductors just rely on setting an annotation.

This configuration is the example from the documentation.

[code]

[2018-04-29 10:37] #115 closed

[2018-04-30 16:34] #107 closed

[2018-04-30 16:36] jthomas opened #116 "0.13 Release"
- Update `package.json`
- NPM publish to registry
- Draft Github release and notes

[2018-05-01 10:43] #114 closed

[2018-05-01 10:44] jthomas commented on #116
- Add docs for web action auth with API gateway
- Document path parameters

[2018-05-01 12:52] #113 closed

[2018-05-16 17:50] nerdguru opened #117 "Version compatibility issues?"
I'm revisiting the plugin after being away for 6 months or so and while I can create a new template, the deployment is failing claiming the plug-in isn't installed when it is:

$ serverless create --template openwhisk-nodejs --path my_service
Serverless: Generating boilerplate...
Serverless: Generating boilerplate in "/Users/petercjo/owtewt/my_service"
 _______                             __
|   _

[2018-05-16 19:10] rupakg commented on #117
@nerdguru try `npm install` on your project folder and see if it fixes it.

[2018-05-16 19:34] nerdguru commented on #117
I've got some larger network thing going on I didn't realize.  Sorry to bother you guys.  If I can eliminate that and still run into this I'll repopen

[2018-05-16 19:34] #117 closed

[2018-05-16 19:47] rupakg commented on #117
@nerdguru you know it is not a bother. feel free to reach out. you know where to find me ;)

[2018-05-21 06:38] agneetra10 commented on #103
I got the same issue while trying to deploy on openwhisk via serverless framework. The fun fact is the function is deployed and an endpoint is created already that i checked from my bluemix console, but in serverless it shows unable to configure api gateway. Any help how to over come this?

[2018-05-22 23:30] alexkli opened #118 "Fully automatic webpack support"
## Problem

There is a [serverless-webpack](https://github.com/serverless-heaven/serverless-webpack) plugin, but it requires manual work for things that could be automatic for an OpenWhisk NodeJS runtime environment:

* must provide and configure `webpack.config.js` - now you have at least 3 required files for build/deployment with `package.json` &`serverless.yml`, taking away from the simplicity

[2018-05-22 23:41] alexkli opened #119 "Feature: invoke local using Docker to support any runtime image"
## Problem

Currently, `serverless invoke local` is implemented for nodejs and python runtimes by [simply](https://github.com/serverless/serverless-openwhisk/blob/master/invokeLocal/index.js) running a local Node or Python with the right script. It does not replicate the actual container environment nor does it work for other runtimes or custom images (blackboxes).

## Idea

Add a new option to `i

[2018-05-23 07:52] jthomas commented on #119
This would be an awesome feature. It would massively improve the developer experience. Great suggestion 💯.

Adding this feature could require a significant amount of code. As discussed, we don't want to require docker support for `invoke local` but provide this as an additional feature.

I wonder if it is possible to have a `serverless invoke docker`  command?

SInce this would be a significant ch

[2018-05-23 07:58] jthomas commented on #118
Thanks for the detailed feedback, I can understand the issue you have encountered.

This would be a useful extension for developers but looks more like an external plugin than something that should be in the core?

If we merged this into the core, it would mean a larger provider plugin for all users (not just those using node.js and webpack).

Have you considering talking to the `webpack` module o

[2018-05-23 18:18] alexkli commented on #118
I do want to avoid that a user has to add tons of plugins to their `serverless.yml` and install all of them via npm, if possible. The main point I am trying to solve is to simplify the dev process.

The `serverless-webpack` plugin would make sense in that regard. I filed an issue at https://github.com/serverless-heaven/serverless-webpack/issues/399 let's see what they think.

[2018-05-29 16:05] macdonst opened #120 "Repo needs a LICENSE file"
The repo really should have a LICENSE file. I know MIT is specified in the package.json but there should be one in the repo.

From [codinghorror](https://blog.codinghorror.com/pick-a-license-any-license/):

We want to explicitly signal that folks are free to use and experiment with this repo.

[2018-05-29 16:18] #120 closed

[2018-05-29 16:27] macdonst commented on #120
@jthomas you will soon be sick of me.

[2018-05-31 17:05] jthomas opened #122 "Replicate binding service credentials to functions"
Available through `bx wsk service bind`

[2018-06-01 17:00] akrabat opened #123 "Single function deploy need to redo api gateway too if attached"
If a function is attached to the API Gateway, then `sls deploy -f funcname` will break the link to the API Gateway endpoint.

[2018-06-12 16:08] chearmstrong opened #124 "Can I setup IBM Cloud Object Storage in my serverless.yml"
Hi.

I have a project that I need to deploy to IBM Cloud Functions (OpenWhisk) - is it possible to setup IBM Cloud Object Storage (IBM's version of S3) in my `serverless.yml` file, like I would do if I was deploying to AWS?

Thanks in advance.

[2018-06-13 12:03] jthomas commented on #124
Hello @chearmstrong, thanks for asking about this.

**short answer:** this isn't possible (at the moment). workarounds are available (see below).

**here's the long answer...**

The Serverless Framework uses Cloud Formation to deploy resources listed in the YAML file to AWS. [Cloud Formation](https://aws.amazon.com/cloudformation/) can define Lambda functions but also other AWS resources like S3.

[2018-06-13 12:44] chearmstrong commented on #124
Thanks for great response - I'll check out those examples you mentioned.

[2018-06-13 12:44] #124 closed

[2018-06-18 12:58] michaelwclark opened #125 "serverless-webpack issues when using a sequence"
When using serverless-webpack and serverless-openwhisk there is a compatibility issue as the serverless getFunction and getHandlerFile do not do any sort of filtering on sequences. This causes serverless-webpack to attempt to validate against a function that does not truly need to be webpacked. I posted the full details of this issue [here](https://github.com/serverless-heaven/serverless-webpack/i

[2018-06-19 11:42] jthomas commented on #125
Hello Michael, thanks for opening this issue.

OpenWhisk does introduce functions without handlers, which are valid in OpenWhisk but not something the external plugin supports.

I'm not familiar with webpack (so forgive any mistakes) but reading the repo, I have a few ideas...

- It looks like you are using [auto-entry resolution](https://github.com/serverless-heaven/serverless-webpack#automatic-e

[2018-06-19 16:19] michaelwclark commented on #125
I figured this would end up being a bit of a custom code job. Unfortunatly the auto-entry resolution is only a piece of the puzzle as the serverless-webpack is doing some validations of serverless.yml at instantiation even before getting to auto entries.

Long term I may dig into the codebase over there and submit a PR or (*cringe*) fork and fix for our use case.

Other than webpack for building a

[2018-06-19 16:59] jthomas commented on #125
@michaelwclark Some people have suggested other tools to me before like Rollupjs or Parceljs. This would require a manual setup rather than auto-magic plugins.

TBH I would deploy your functions unoptimised and then performance test to see if you need the performance improvements and how much it would bring. My feeling is that it'll be minimal tbh.

Going to close this as `wontfix` because this is

[2018-06-19 16:59] #125 closed

[2018-06-28 11:15] jthomas commented on #122
This feature has now been implemented.

https://github.com/serverless/serverless-openwhisk#binding-services-ibm-cloud-functions

[2018-06-28 11:15] #122 closed

[2018-06-28 11:16] jthomas commented on #124
@chearmstrong I've now added the ability to bind to existing services more easily:
https://github.com/serverless/serverless-openwhisk#binding-services-ibm-cloud-functions

Will be available in the next release.

[2018-06-28 11:20] jthomas commented on #108
As this issue hasn't been updated in a while, I'm going to close it unless you have more details?

[2018-06-28 11:36] jthomas commented on #122
@regmebaby absolutely, see example here:

[code]

Couple of caveats...
- you can't bind more than one instance of the same service (so no binding two instances of different object stores).
- each service bind config shell outs to a separate CLI command run in sequence. if you have multiple service bindings shared between functions, put them onto a package to speed things up.

[2018-07-01 13:19] simon991 opened #126 "serverless-openwhisk Package Configuration does not include files"
[https://stackoverflow.com/questions/51123626/serverless-openwhisk-package-configuration-does-not-include-files](https://stackoverflow.com/questions/51123626/serverless-openwhisk-package-configuration-does-not-include-files)

[2018-07-01 14:10] simon991 commented on #126
So it is an issue with OpenWhisk itself. When using `__dirname + 'workflow.js'` I am able to find the file. More on that, here: https://github.com/apache/incubator-openwhisk-runtime-nodejs/issues/57.

Unfortunately, only JS files seem to be included, not my JSON file.

[2018-07-02 07:48] simon991 commented on #126
The JSON issue was on my side. Sorry for that. So with the __dirname workaround, everything works fine

[2018-07-02 07:48] #126 closed

[2018-07-02 09:07] chearmstrong commented on #124
@jthomas Awesome - thanks for the update! 👍

[2018-07-25 20:21] shobhit921 commented on #61
I am getting this error

 Failed to deploy function (openwhisk-nodejs-dev-test) due to error: PUT https://api.eu-gb.bluemix.net/api/v1/namespaces/_/actions/openwhisk-nodejs-dev-test?overwrite=true Returned HTTP 404 (Not Found) --> "Response Missing Error Message."

[2018-07-31 15:48] pbadeer opened #127 "Support for Python 3 broken for deploying to IBM Functions"
If I use
[code]
I get
[code]
If I use `runtime: python:3` or `runtime: 'python:3'` I get
[code]
If I use `runtime: python3.6` I get
[code]

Am I doing something wrong? I'm assuming this problem is caused by IBM Function's new format for Python 3 deployments, which requires a `--kind python:3` flag in the deploy command.

[2018-08-06 10:24] jthomas commented on #127
Thanks for reporting this. I'll have a look and get back to you...

[2018-08-07 10:17] jthomas commented on #127
The correct method to specify the Python 3 runtime is the second approach you suggest.

[code]

I have just tested this with the project from the `openwhisk-python` template and have deployed it to IBM Cloud Functions in US-South.

Could you post the `serverless.yaml` file in here and output from the deploy command with verbose logging output?

`$ SLS_DEBUG='*' sls deploy`

[2018-08-09 21:34] pbadeer commented on #127
I believe my Python environment was causing issues, I cleaned everything out and started over using that same template you used and it worked just fine.

Thank you!

[2018-08-09 21:34] #127 closed

[2018-08-10 08:00] jthomas commented on #127
Hurrah - I love issues that resolve themselves :)

[2018-08-11 00:54] alexkli commented on #119
Finally implemented this: https://gist.github.com/alexkli/88a7be93cd45f078bac49170a42ea093

It requires `docker` (obviously) and supports two "modes":

1. **Build & run action once:**

[code]

2. **Reuse container for repeated invocations:** Start the container using `--start`, then reuse it for faster repeated invocations (no need to rebuild and start container every single time), and kill it usi

[2018-08-14 14:43] jthomas commented on #119
Hello @alexkli. Nice to see you got this working!

Can you start by exposing this as an official external SLS FW plugin that people can install as an additional feature? It will allow people to test it out and see how popular it is.

[2018-08-14 14:44] jthomas opened #128 "Support for Ruby runtime."
This runtime has now been merged upstream.

[2018-08-14 17:03] kurtschwanda commented on #103
I'm getting the same error message:

`Failed to deploy API Gateway route (/api/endpointName1) due to error: POST https://openwhisk.ng.bluemix.net/api/v1/web/whisk.system/apimgmt/createApi.http Returned HTTP 502 (Bad Gateway) --> "API creation failure: Unable to configure the API Gateway: "Invalid URI \"undefined/tenants\"""`

Deploying functions with Serverless works just fine.  But I can't seem t

[2018-08-15 17:34] jthomas commented on #103
@kurtschwanda If you are using IBM Cloud Functions, the `APIGW_ACCESS_TOKEN` token should be auto-generated by any calls to the IBM Cloud CLI, e.g the  `bx wsk api list`.

Can you try that and see if that fixes it?

If not, can you provide the following..
- `serverless.yml` used
- How you installed the CLI and configured authentication

[2018-08-28 22:56] alexkli opened #130 "Error handling in deployFunction swallows errors because of "functionHandler is not defined""
The error handling in deployFunction/index.js [refers to the variable `functionHandler`](https://github.com/serverless/serverless-openwhisk/blob/master/deployFunction/index.js#L71) which is not defined. Thus any error that leads to this catch statement is swallowed:

[code]

[2018-08-29 07:43] jthomas opened #131 "Fix broken build due to new auth handler"
https://travis-ci.org/serverless/serverless-openwhisk/jobs/421681908

[2018-08-29 10:48] jthomas opened #132 "Default parameters should be finalised when exposed as web actions"
This follows the behaviour of the CLI and prevents query parameters accidentally overwriting default parameters. Actions needs to have the `final` annotation set.

https://github.com/apache/incubator-openwhisk/blob/master/docs/webactions.md#protected-parameters

[2018-08-29 15:46] alexkli commented on #130
Unfortunately I don‘t have time right now. One simple way to reproduce it is to

1. set an invalid auth key in `.wskprops` (so that OW requests fail)
2. run a `serverless deploy -f myfunc`

[2018-08-29 19:18] philwinder opened #133 "Error when deploying example: SSL wrong version number"
Hi there. I've got a problem running the default example on the readme. Here's my setup and what I'm trying to do. Any ideas?

Edit: `wsk ...` also doesn't work. Appears to be something to do with the `kubectl proxy` not proxying https traffic?. Opened issue in main openwhisk repo: https://github.com/apache/incubator-openwhisk-deploy-kube/issues/291

Setup:
Kubernetes on EKS. Openwhisk installed a

[2018-08-30 07:15] jthomas commented on #133
Hello @philwinder. The framework plugin uses the same HTTP API that the `wsk` CLI uses to interact with the platform. Looks like you've uncovered the problem in that other ticket.

Once you get the `wsk` tool working, it should just work 🤞.

As this doesn't look like a problem with the framework, would you want to close this and re-open later if you are still having issues once that other one is r

[2018-08-30 09:18] #133 closed

[2018-08-31 09:03] jthomas opened #134 "Default parameters not being passed to `invoke local`"
Default parameters on either the package or action should be included in invoke local params.

[2018-09-07 01:25] chrislonge opened #135 "Support for Swift 4.1 runtime"
The `openwhisk-swift` template defaults to 3.1.1. Is there plans to add support for Swift 4.1?

[2018-09-10 08:55] jthomas commented on #135
@chrislonge :wave: Swift 4.1 is also supported in OpenWhisk. If you use the `runtime: swift:4.1` configuration parameter in the YAML, this should change the runtime verison. Let me know if this doesn't work for you?

[2018-09-10 13:15] PallaviPatil2 opened #136 "__ow_path is blank in API created with response type http"
We have created 2 APIs in same base path as shown below.
1.  ibmcloud fn api create /v1/abc/ka /assets/upload/{aaid}/name/{name} get 'serverless-files/presign' --response-type http

2.  ibmcloud fn api create /v1/abc/ka /metadata post 'ams-cloudant/validate_seq' --response-type http

For the 1st API with presign I am able to read __ow_path and its returning /v1/abc/ka/assets/upload/1234/name/test.

[2018-09-10 14:55] jthomas commented on #136
Did you use the serverless framework openwhisk plugin to create these APIs? From the description above, it looks like you are using the CLI. Support for OpenWhisk related issues, rather than the serverless framework plugin, needs to use one of the support channels for that project...
- [Stack Overflow](https://stackoverflow.com/questions/tagged/ibm-cloud-functions)
- [Slack](http://openwhisk.incub

[2018-09-17 03:10] chrislonge commented on #135
Hey @jthomas, I was able to change the runtime to 4.1, thanks! I did have a couple questions however.
1. Will the default swift template app work using 4.1, or do I need to make changes? Doesn't seem to be working when I invoke with 4.1 on the template:
[code]
2. Swift 4.2 comes out in about a week or two, is there plans to update template to default to at least 4.1?

Thanks for your help!

[2018-09-17 15:36] jthomas commented on #135
@chrislonge

[2018-09-17 15:41] jthomas commented on #135
https://github.com/apache/incubator-openwhisk-runtime-swift/issues/83

[2018-09-30 08:59] subraich commented on #61
Hi
I am trying to deploy a function in IBM Cloud but getting below error. Could anyone please help me?

  Failed to deploy function (my-first-service-dev-hello) due to error: PUT https
://api.ng.bluemix.net/api/v1/namespaces/_/actions/my-first-service-dev-hello?ove
rwrite=true Returned HTTP 404 (Not Found) --> "Response Missing Error Message."

[2018-10-05 15:55] shazron opened #138 "Error: Unable to read handler file in function demo"
Log:
[code]

The .jar file generated by Maven does contain the classes needed. Originally from: https://forum.serverless.com/t/openwhsik-java-deployment/4534/3?u=shazron

[2018-10-05 16:07] #131 closed

[2018-10-08 08:03] #138 closed

[2018-10-10 14:40] volteanu opened #140 "Specify package name as a value instead of key"
Currently, explicit (openwhisk) packages get their name from the object key. This prevents the user to parametrise the name, e.g. with variables.

It would be very handy to accept a `name` property on the package, the same way it is currently for functions:

[code]

[2018-10-10 16:08] jthomas commented on #140
This is a great suggestion. Would you like to have a go at implementing this and submitting the PR?

This is how we handle that feature for the action name.
https://github.com/serverless/serverless-openwhisk/blob/7ffcbef78a52110d1817b32333a4cb4487da9d57/compile/functions/index.js#L45-L47

Here is where the package references are created:
https://github.com/serverless/serverless-openwhisk/blob/7ffc

[2018-10-10 16:54] volteanu commented on #140
OK, I'll give it a try and submit a PR when I have something.

[2018-10-11 12:28] jthomas commented on #140
This is great - thanks for doing the PR!

Could you also update the main `README.md` with this new feature? I forgot to mention this before I merged the PR.

[2018-10-11 13:42] volteanu commented on #140
Thanks for merging it! Glad I could contribute, it was plain straight-forward. For the README I've created PR #142 .

BTW, I just noticed that the README has pretty much the same content as https://github.com/serverless/serverless/blob/master/docs/providers/openwhisk/guide/functions.md (for which I created another PR), are the two files somehow sync'ed?

[2018-10-11 14:57] jthomas commented on #140
@volteanu Thanks for that change - merged.

Unfortunately, the serverless repo docs and the main README are not automatically synced. I wish I had a better solution for this.

[2018-10-19 17:32] csantanapr commented on #136
@PallaviPatil2
This should be fixed now, also fixed if you IBM Cloud Functions.
https://github.com/apache/incubator-openwhisk/issues/4055
Just update your apis with `wsk api create` or `ibmcloud fn api create`

[2018-10-19 17:32] #136 closed

[2018-10-30 16:13] volteanu commented on #140
@jthomas can you please help me track in which version of `serverless` is this available? I've managed to identify it got into `serverless-openwhisk 0.15.0`, but I can't figure the link with the `serverless` versions.

[2018-10-31 12:34] yakalra1 opened #143 "Parameter Value with -(dash) is not correctly deploying"
we are doing a serverless deploy and passing parameter values to it..and one of the value starts with -(dash), reading from environment properties of Deploy Job.
But post deployment in parameters we see this value as true..rather than real value..

for eg -
serverless deploy --CLOUDANT_API_KEY_VALUE $CLOUDANT_API_KEY where CLOUDANT_API_KEY  is like -khu1232we
And if i go to the parameters of my ac

[2018-11-05 04:40] DamirSvrtan opened #144 "Ruby runtime support"
Hello there! 👋

First of all, thank you for your work on this project!

I see that 15 days ago the Ruby runtime support was added to the repository, however it is not included in the latest release of the plugin (that happened 25 days ago).

Do you know when the new version is going to be released?

[2018-11-05 09:28] jthomas commented on #144
@DamirSvrtan Hello! I'm hoping to get this realised this week. During developent, I found an issue with Ruby support in OpenWhisk that I need to fix first (https://github.com/apache/incubator-openwhisk-runtime-ruby/pull/15).

[2018-11-05 13:40] jthomas commented on #143
I'm unable to find where in the framework documentation this method of passing parameters is supported?

Reading the docs on variables, setting the env parameter `CLOUDANT_API_KEY_VALUE` in the shell allows you to import it into the `serverless.yml` as follows...

[code]

Does this fix your issue?

[2018-11-05 14:35] #130 closed

[2018-11-05 14:35] #134 closed

[2018-11-05 15:05] #132 closed

[2018-11-05 15:06] #63 closed

[2018-11-05 15:06] #75 closed

[2018-11-05 15:07] jthomas commented on #77
Going to close this issue as there's been no activity for a long time.

[2018-11-05 15:07] #77 closed

[2018-11-05 15:09] jthomas commented on #57
Closing this issue as it's now out of date as the IBM Cloud CLI has changed significantly.

[2018-11-05 15:09] #57 closed

[2018-11-06 17:37] volteanu opened #145 "Specify explicit base path for http rules"
`serverless.yaml` allows to define (gateway) API mappings to functions in the form:
[code]

Openwhisk has the concept of base path when creating the mappings, which groups them into one entity (api). Currently, `serverless` implies the basepath is `/${this.serverless.service.service}`.

My proposal is to add a field to the `http` event, called `basepath` which overrides the default. I can create a

[2018-11-07 08:30] jthomas commented on #145
@volteanu Great idea!

[2018-11-07 13:29] volteanu opened #147 "Package with explicit name is deployed twice"
After #140, packages can have an explicit name. When deploying the service, the implicit package (from function name) is not merged anymore with the explicit one, so it is deployed twice, sometimes resulting in an error:
[code]

[code]

[2018-11-07 14:15] jthomas commented on #147
Thanks for catching this. I'm working on a new release by end of the week and can look into this...

[2018-11-07 14:15] #145 closed

[2018-11-07 14:20] volteanu commented on #147
I'll give it a try and provide a patch

[2018-11-09 16:03] #147 closed

[2018-11-09 16:10] jthomas commented on #144
This is now available in 0.16!

[2018-11-09 16:10] #144 closed

[2018-11-09 16:10] jthomas commented on #128
Implemented in 0.16

[2018-11-09 16:10] #128 closed

[2018-11-09 16:11] jthomas commented on #98
CORS support has now been added to the configuration. Changes made to support this will allow us to include other API GW configuration parameters in future. Will get more out in the next release...

[2018-11-09 16:11] jthomas commented on #52
CORS is on by default - this can now be turned off using configuration.

[2018-11-09 16:11] #52 closed

[2018-11-12 18:33] michaelwclark opened #150 "Cannot read property 'packages' of undefined"
When doing a serverless deploy I get the error at the bottom of this issue. Even reverting to last working build results in the same thing. Iv'e tried different versions of serverless and other related modules with no luck. I can't see exactly where this is coming from so debugging is quite difficult. Any and all assistance would be appreciated.

[code]

serverless version:1.32.0

[code]

Serverle

[2018-11-15 11:33] yakalra1 commented on #143
I am using the same way in serverless.yml, below is the example..but still issue is not resolved. Temporarily  we are using the key that doesn't start with dash. But now again we have similar issue with some other variable.  Do we have any solution to fix this?

service: service_name
Sample serverless.yml
provider:
  name: openwhisk
  runtime: nodejs:8
functions:

resources:
  packages:
   PACKAGE

[2018-11-15 11:37] yakalra1 commented on #143
Just on top the above message, there is another observation that any value that has dash in it..is not getting deployed correctly and giving true value rather than actual value. For eg value -
PG.J4XdPBYORf--8oMODZ0eVA.PGUnaGV8T-qymbIWEIe_ccV2UifQROFiEdC-JwIygYg

[2019-01-04 10:08] herzog31 opened #151 "Support concurrent activations"
Recently concurrent activations were merged into OpenWhisk. For details, please check
* https://github.com/apache/incubator-openwhisk/pull/2795
* https://github.com/apache/incubator-openwhisk-cli/pull/383

As far as I understand, the `concurrency` is expected as part of the `limits` parameter and shout be treated similar to the `memory` and `timeout` parameters. See https://github.com/serverless/s

[2019-01-07 10:46] herzog31 commented on #151
@jthomas Yeah, I'll open a PR this week :)

[2019-01-07 16:01] juliomsilva commented on #150
fixed the issue by expliciting the packages.
https://serverless.com/framework/docs/providers/openwhisk/guide/functions#explicit-packages

[2019-01-09 15:52] #151 closed

[2019-01-18 17:26] jthomas commented on #98
All options are now available in 0.17

[2019-01-18 17:26] #98 closed

[2019-01-18 17:28] jthomas commented on #108
I'm closing this as an older issue with no action required at this point.

[2019-01-18 17:28] #108 closed

[2019-01-18 17:30] jthomas commented on #118
Closing this ticket for the time being due to lack of activity.

[2019-01-18 17:30] #118 closed

[2019-01-18 17:30] jthomas commented on #103
Closing this ticket for the time being due to lack of activity.

[2019-01-22 16:00] pheuberger commented on #103
I'm experiencing this problem with the IBM Cloud DevOps pipeline. I'm trying to get CI/CD for my serverless project to work and the access token is seemingly not auto-generated when calling this command in the shell script. Probably due to file access restrictions in the Ubuntu instances they provision for the deployments. Do you have an idea, how to go about it @jthomas?

[2019-01-23 09:35] jthomas commented on #103
@pheuberger hey - do you want to ping me on the openwhisk slack or DM me on Twitter (thomasj) and we can investigate?

[2019-01-24 10:44] pheuberger commented on #103
Thanks @jthomas! I'm pinging you on Twitter 😊

[2019-01-25 22:24] bensyverson opened #153 "Error invoking Swift hello world example"
Following [this guide](https://serverless.com/framework/docs/providers/openwhisk/examples/hello-world/swift/#hello-world-swift-example) and the OpenWhisk installation guide, I set up a Swift project and got signed into IBM's system.

At that point, `serverless deploy` ran successfully, but `sls invoke -f hello` returns this:

[code]

So obviously the first problem is the fact that the example does

[2019-01-28 11:10] dzmitry-kankalovich opened #154 "Is there a way to pass namespace as an environment variable?"
The documentation at https://github.com/serverless/serverless-openwhisk#set-up-account-credentials states that I can choose between 2 ways of setting up account credentials: properties file or environment variables.

However, the environment variables approach does not seem to be on par with props file: there is no way to set up namespace variable.

Is there a workaround to that, or I must change

[2019-01-28 14:18] dzmitry-kankalovich commented on #154
Answering my own question: yes, it is possible. It just wasn't stated in docs, however according to https://github.com/serverless/serverless-openwhisk/blob/7ffcbef78a52110d1817b32333a4cb4487da9d57/provider/credentials.js#L6 it is possible to use `OW_NAMESPACE` variable to achieve what I need

[2019-01-28 14:18] #154 closed

[2019-02-04 17:19] jthomas commented on #153
@bensyverson Hmm that doesn't look good!

Let me try to look at this during the week.

[2019-02-05 17:29] #153 closed, assigned to nobody

[2019-02-05 20:40] bensyverson commented on #153
Beautiful, thank you!

[2019-02-06 19:00] karanrk opened #156 "sls deploy failed due to API SOCKET Hang up"
Hello Team,

I did follow your documentation to set up serverless and ibm cloud functions credentials. I am able to deploy functions onto ibm cloud without sls, but when i tried deploying simple function using sls - it fails. Also note that sls deploy works just fine for aws lambda.

Below is error

ServerlessError: Failed to deploy function (my_service-dev-hello) due to error: Unknown Error From

[2019-02-07 09:54] jthomas commented on #156
Hello @karanrk.

What IBM Cloud region were you deploying to? Can you check the issue is still occuring? Sometimes there are intermittant network or platform issues.

[2019-02-07 19:48] karanrk commented on #156
Hi @jthomas

I was deploying to Dallas (api.ng.bluemix.net). Issue still persists and has been there for around 5 days now.Please let me know next steps.
Thanks!

[2019-02-07 20:19] karanrk commented on #156
Not sure if below information helps,
I am behind my company's proxy and When i tried deploying on GCP i get this error

Error: Client network socket disconnected before secure TLS connection was established
    at TLSSocket.onConnectEnd (_tls_wrap.js:1179:19)
    at Object.onceWrapper (events.js:285:13)
    at TLSSocket.emit (events.js:202:15)
    at TLSSocket.EventEmitter.emit (domain.js:439:20)

[2019-02-08 09:57] jthomas commented on #156
Hmm is your companies proxy blocking traffic?

Can you access IBM Cloud Functions using the IBM Cloud CLI? If you run `ibmcloud wsk action list` what happen?

[2019-02-08 18:25] karanrk commented on #156
IBM Cloud CLI works fine, `ibmcloud wsk action list` returns  all the actions that i have created. I wonder how serverless works with Lambda and doesn't complain at all.

[2019-02-11 17:49] jthomas commented on #156
Hmm I'm struggling to think of a reason for this I'm afraid...

Could you try deploying to a different IBM Cloud region?

[2019-02-11 18:54] karanrk commented on #156
Even though i have set proxy, but somehow the plugin seems to ignore the
proxy settings. After taking a stab at the TCP dump to check the network
traffic looks like plugin is unable to reach my proxy. Could you please let
me know how do i make this proxy available to plugin.

Best Regards,
Karan

On Mon, Feb 11, 2019 at 9:49 AM James Thomas <notifications@github.com>
wrote:

[2019-02-12 11:33] jthomas commented on #156
Looking at other [tickets](https://github.com/serverless/serverless/issues/3256) referenced from this issue, it looks like AWS does have support for proxies
https://github.com/serverless/serverless/blob/master/lib/plugins/aws/provider/awsProvider.js#L139-L148

This hasn't yet been implemented in the OpenWhisk plugin. If you would like to have a go at implementing this feature, we'd happily accept

[2019-02-13 23:49] karanrk commented on #156
Could you please point me to openwhisk sdk documentation ?

[2019-02-14 10:47] jthomas commented on #156
https://github.com/apache/incubator-openwhisk-client-js is the JS SDK used to interact with the OpenWhisk platform API.

[2019-02-15 10:32] jthomas opened #157 "HTTP events with path parameters fail to deploy"
[code]

This is due to API GW deployment change which creates the Swagger manually. Need to add parse and add optional path parameters to the Swagger document. This used to be handled by the SDK.
https://github.com/apache/incubator-openwhisk-client-js/blob/master/lib/routes.js#L163-L189

[2019-02-15 10:33] #157 closed

[2019-02-19 14:51] bensyverson opened #158 "Swift deployment no longer produces compiled ZIP"
`serverless-openwhisk` used to produce a compiled ZIP, but now uploads a Swift file instead. If it's still possible to automatically deploy a compiled ZIP, maybe I'm missing some configuration step? The current docs seem to indicate that a ZIP is produced. Thanks!

[2019-02-19 20:42] bensyverson commented on #158
Ah, this is my mistake—I see the instructions in the README for this repo. I was referring to the documentation on the main serverless site. Carry on!

[2019-02-19 20:42] #158 closed

[2019-02-20 09:06] huksley commented on #103
Hi! I am trying OpenWhisk locally on docker and have the same error:

[code]

Is there any way to fix this?
I just added simple HTTP event to template project:
[code]

[2019-02-24 13:16] andreialecu commented on #103
Having the same issue referencing `undefined/tenants` on a local openwhisk installation on kubernetes with helm on Docker Desktop Windows.

Any progress on this?

[2019-02-24 13:41] andreialecu commented on #103
Note that even without any http handlers being defined in `serverless.yml`, the error still appears in `serverless info`:

[code]

[2019-03-11 22:31] karanrk opened #160 "sls with runtime Docker, fails to invoke"
Hello Team,

I tried deploying a serverless application that is completed built with personal docker image (dockerhub) and the deployment is successful but the invoke isn't.
The deployment and invoke works fine on the ibmcloud without serverless, but looking at your examples on docker this is something that should have worked. I don't see any logs generated too.

Information from bluemix

![image]

[2019-03-12 09:25] jthomas commented on #160
@karanrk Sorry you are having issues. Can you post the `serverless.yaml` configuration file you are using to deploy the service?

[2019-03-12 09:59] karanrk commented on #160
Below is my serverless.yml file

service: <MyServiceName>

provider:
  name: openwhisk

  runtime: python

functions:
  <MyfunctionName>:
    handler: krkamatg/chatter-uc
    runtime: docker
    timeout: 600
    memory: 2048

plugins:
  - serverless-openwhisk

Below is my Dockerfile

FROM openwhisk/python3action

COPY requirements.txt ./

COPY download-toolkit.py ./

ENV https_proxy <MyProxy>
ENV

[2019-03-13 19:19] jthomas commented on #160
I have managed to get this working based on the files above. The Docker image being built is incorrect and should not include or attempt to run the `unitConvertion.py` file as the start command.

- Use the following Dockerfile to build a new image

[code]

- Push this image to Docker Hub as `<DOCKERHUB_USER>/openwhisk_python`
- Use the following `serverless.yaml` to define a custom Python runtime

[2019-03-13 19:20] jthomas commented on #160
@karanrk I'm going to close this as this looks like it was a configuration error rather than a bug in the framework.

Let me know if you are still having issues....

[2019-03-13 19:20] #160 closed

[2019-03-21 11:01] jthomas opened #161 "Change default Node.js runtime to 10"

[2019-03-22 18:44] Jerry-BinWang commented on #103
@jthomas I think this issue should be reopened since the problem is not solved with self-hosted OpenWhisk.

[2019-03-25 12:20] jthomas commented on #103
@Jerry-BinWang That makes sense. I'm happy to re-open the issue but don't have time to look into this at the moment.

If other people have ideas as to what is going wrong or where the issue is, please update the issue.

[2019-03-25 19:31] ericqqqqq opened #162 "Using more than one serverless.yml"
I am currently using serverless.yml to deploy my actions to IBM Cloud. Now, I guess because of the large amount of actions I have to deploy every time, I am hitting 502 gateway too often.

The way I solve 502 issue so far is to deploy the first half of my actions first, and then deploy the rest of actions. I found this process is tedious and annoying.
Now, I am thinking is there any way to manage

[2019-03-26 10:51] jthomas commented on #162
👋 @ericqqqqq

Sorry to hear you are having issues. Can you answering me the following questions...

- What region are you deploying to?
- How many functions have you got defined? Could you share the raw YAML?

If you are hitting intermittant platform issues - I can ask the platform team to investigate. If you are hitting some rate limiting errors - I can look at introducing a different approach to

[2019-03-26 13:41] pheuberger opened #163 "Message Hub trigger doesn't fire"
I'm running serverless via IBM Cloud Functions.
Here are the relevant parts from my `serverless.yml` file:
[code]

Running the deploy script it indeed creates a trigger for this topic. However the function is not invoked when messages are published to this topic.
In turn, when I create a trigger through the IBM Cloud Console and connect it to my function it works.

I noticed, serverless creates a

[2019-03-26 20:27] ericqqqqq commented on #162
@jthomas
Hi, I want to apologize for my late reply first.

Answer to questions:

- I'm deploying on `us-south`.

- I'm deploying 24 actions in total (more in the future). I am working on a team project, it may be not a good idea to share my raw YAML. However, I can provide some informations and structures of my YAML.
[code]

[2019-03-28 23:14] ericqqqqq commented on #162
👋@jthomas
Do you have any updates on this issue?

[2019-04-08 14:59] jthomas opened #164 "Build is broken due to non-breaking SDK change"
https://travis-ci.org/serverless/serverless-openwhisk/jobs/516873655

[2019-04-16 16:11] ericqqqqq commented on #162
Hi @jthomas
Thanks for the help, to be honest, this error happens randomly and it is unpredictable here😔.
It is not happening to me every single time. Weird thing is after I opened an issue here, I have not seen the same error again.

Since I am using openwhisk serverless almost every day. I will test with your solution if it happens again. I will 100% let you know how it works.

[2019-04-16 16:44] jthomas commented on #162
@ericqqqqq If this is happening on IBM Cloud, feel free to open a support ticket to get them to look into it!

[2019-04-23 14:40] jthomas opened #165 "If HTTP events have path parameters automatically select http response type"
Rather than user having to manually do this!

[2019-05-05 01:26] nrdobie commented on #103
It seems like you have to provide at least some token now.

After running debug on on the `wsk` CLI tool to list API GW function I noticed the URL being called had a dummy token being sent even though I never created one or had one in my env. After setting `APIGW_ACCESS_TOKEN` to `DUMMY_TOKEN` it works.

[code]

[2019-05-16 06:23] KeonHee opened #167 "Not saved alarm annotation to trigger"
https://github.com/serverless/serverless-openwhisk/pull/112

I noticed that the above pr does not work well in the latest version.
Perhaps the format of the trigger from the service has changed.

[2019-05-21 13:48] jthomas commented on #163
Closing due to lack of activity (unless you have anything new to add @pheuberger?)

[2019-05-21 13:48] #163 closed

[2019-05-21 13:49] jthomas commented on #162
Closing due to lack of activity on this issue...

[2019-05-21 13:49] #162 closed

[2019-05-21 14:09] #167 closed

[2019-05-22 11:03] jthomas opened #169 "Add support for IAM namespaces on IBM Cloud"
Need to use custom auth plugin for new IAM-based namespaces.

https://github.com/ibm-functions/iam-token-manager-nodejs

[2019-05-29 09:44] jthomas commented on #169
Should also provide a mechanism to add service access policies to Cloud Functions namespace for other services.

[2019-05-29 09:44] jthomas opened #170 "Add support for provisioning resources to serverless framework"
Using IBM Cloud API: https://cloud.ibm.com/apidocs/resource-controller#create-provision-a-new-resource-instance

[2019-06-09 13:00] rabbah opened #171 "Apache OpenWhisk logo referenced as IBM OpenWhisk"
The logo here should say Apache OpenWhisk instead of IBM OpenWhisk (or replace with IBM Cloud Functions logo if that's what is intended). If the Apache OpenWhisk logo is intended, should the proper logo be used?

https://serverless.com/framework/docs/providers/openwhisk/

The readme in this repo should also refer to OpenWhisk as Apache Openwhisk. The proper link is https://openwhisk.apache.org

[2019-06-10 14:39] rabbah commented on #171
looks like the place to patch the serverless.com docs is here https://github.com/serverless/serverless/edit/master/docs/providers/openwhisk/README.md

[2019-06-10 14:58] rabbah commented on #171
Closing and opened in the proper repo.

[2019-06-10 14:58] #171 closed

[2019-06-12 12:33] jthomas commented on #169
@dpittner Could you open an issue with details on the regression and I'll have a look?

[2019-06-19 20:23] rakeshyoga commented on #103
Exporting an environment variable `OW_APIGW_ACCESS_TOKEN` with the value of **APIGW_ACCESS_TOKEN** found in `.wskprops` property file fixes the problem.

[2019-06-26 12:31] rabbah opened #174 "invalid web action url if api host already includes protocol"
post sls deploy, when printing the public urls to the console, this line
https://github.com/serverless/serverless-openwhisk/blob/d4ecee0125f1a7dac95977461d701315dc276bac/info/index.js#L96

will emit as an example the following url for a webaction when the api host already includes an apihost

[code]

[code]

[2019-06-26 12:34] rabbah opened #175 "CONTRIBUTING guide?"
is there a guide for contributions/submitting PRs?

[2019-06-26 12:35] rabbah commented on #175
perhaps a copy or link to https://github.com/serverless/serverless/blob/master/CONTRIBUTING.md form this repo?

[2019-06-26 16:21] jthomas commented on #175
Good point - I can have a look at working up something from that link.

[2019-06-26 16:23] #174 closed

[2019-07-02 16:05] jthomas opened #178 "Default Python template does not deploy"
Report from OpenWhisk slack:`
serverless create --template openwhisk-python --path pyhton-test`

[code]

[2019-07-02 16:09] mjschmidt commented on #178
The key here is serverless create template it may just be less confusing if the templates were python:2 python:3 or python:default

I always forget when coming back to issues later.

[2019-07-02 16:11] mjschmidt commented on #178
For now the work around is after template creation to go in and change the runtime in serverless.yml and specify which python is being used. For example python 3 needs to be changed from
[code]
TO
[code]

[2019-07-05 07:49] jthomas commented on #156
I'm closing this issue as the downstream client library now supports proxies and can be used with the framework.

[2019-07-05 07:49] #156 closed

[2019-07-05 07:56] jthomas opened #179 "Support IAM services being added to default Cloud Fns service key."
IBM Cloud Functions now supports IAM namespaces. IAM namespaces can be bound to other service credentials. Should support specifying this in the YAML file.

[2019-07-05 15:46] jthomas commented on #169
I've started work on this feature.
https://github.com/serverless/serverless-openwhisk/commit/9e6930f8fd8de94adbca2c5b69e0dcc5fc5a28e4

I also want to add support to use the `ibmcloud iam oauth-tokens` command to automatically create the token rather than having to manually provision and use API keys.

[2019-07-08 21:49] dhongyt opened #180 "event scheduler failing to register trigger in openwhisk"
Recently we are noticing a weird error when deploying our serverless functions into OpenWhisk.

We have functions that are on a cron schedule, which was running correctly until ~5 days back. All cron scheduled functions just stopped working. We started troubleshooting the issues and here is what we found.

When doing an `sls deploy` on our function, they are no longer being registered in the openw

[2019-07-12 15:35] jthomas commented on #180
Is this an instance of openwhisk you are running yourselves or a hosted service?

There hasn't been a new release of the framework plugin since May 2019, which makes me wonder why it would be an issue with the framework rather than the plaform itself? Do you have any more idea?

[2019-07-15 16:21] michaelwclark opened #181 "Openwhisk Returned HTTP 400 (Bad Request) --> "The request content was malformed:"
If an environment variable or another defauly parameter is not properly set then `sls deploy` will throw an error. The error that displays is only:
`Returned HTTP 400 (Bad Request) --> "The request content was malformed:`

However under the covers if you add additional logging you will find.

[code]

I feel like there should be a preflight check fo parameters or at the very least a more verbose er

[2019-07-16 09:01] jthomas commented on #181
Hello Michael - can you expand on what you mean by `environment variable or another default parameter` not being set? Do you mean the authentication parameters like (`__OW_API_HOST`) or something else?

Can you provide a test-case for this and it can get added to the backlog? Adding more verbose error messages or pre-flight checks seems like a good idea. If you want to have a go at a PR - I'd happ

[2019-07-16 14:16] benoj opened #182 "Namespace deployment fails"
Whenever I try to deploy my functions to a namespace i get an error saying my account is not authorized. However my account is the administrator account. Works fine when using default environment.

serverless.yml
[code]

[code]

[2019-07-16 15:14] jthomas commented on #182
@benoj 👋 - quick check - is the namespace you are trying to deploy to a (classic) CF-style org and space or a newer-style IAM-enabled namespace?

The IAM namespaces are new and I'm still finalising support for them. You can follow along with progress on this here: https://github.com/serverless/serverless-openwhisk/issues/169

Until then - the temporary work-around is to use an older-style CF based

[2019-07-17 17:10] benoj commented on #182
Thanks for coming back.

I switched to CF based namespaces and now I'm getting another issue. It seems that when I deploy my functions with serverless I get a 502 error - if I manually create another endpoint in the console pointing to the same action it works however.

I am deploying my functions like so:

[code]

Where CF_TOKEN is the Namespace Auth creds from `https://cloud.ibm.com/openwhisk/na

[2019-07-18 09:57] benoj commented on #182
Any clues on this? No logs anywhere that I can see? Seems rather confusing...

[2019-07-18 16:12] jthomas commented on #169
More work on this issue has enabled support for API keys and using `.bluemix/config.json` for tokens (with auto-refresh).

Need to add the following....

- [ ] Update documentation with these new features.
- [ ] Add additional checks that config file exists
- [ ] Add helpful errors messages when user is not logged in.

[2019-07-18 16:14] jthomas commented on #182
Can you paste the full error logs?

[2019-07-22 16:35] jthomas commented on #169
This feature is blocked until IBM Cloud Functions APIGW supports configuration using IAM API keys.

[2019-08-14 13:26] cjelger opened #183 "Remove default implicit configuration that sets the concurrency to 1"
If the concurrency of an action is not configured, the plugin sets it to 1 by default, because of https://github.com/serverless/serverless-openwhisk/blob/1de03125ab7bcbf2d27d5a3ab2eb17f9b53500b6/compile/functions/index.js#L58

This is a problem because it overrides the default concurrency that can be set by default on the Openwhisk platform itself. So for example, if the platform defines a default

[2019-08-15 12:41] cjelger commented on #183
@jthomas I'm wondering if we also want to the same removal of the default values for the `memory` and `timeout` parameters. WDYT?

[2019-08-22 12:56] cjelger commented on #183
@jthomas Gentle ping wrt. the previous comment, thanks.

[2019-08-22 15:06] jthomas commented on #183
@cjelger +1 that's good idea.

[2019-08-28 08:27] #183 closed

[2019-09-13 14:15] pheuberger opened #185 "API Gateway endpoints overwritten"
We have multiple serverless projects. Recently we started to run into the following problem: Deploying one of the projects with `sls deploy` overwrites all endpoints from the other projects.

To get a bit more specific:
Project A: `sls deploy` -> creates API for project A. I have now 1 API project
- then -
Project B: `sls deploy` -> creates API for project B. I now expect to have 2 API projects, b

[2019-09-15 12:40] nzchicken commented on #103
Funnily enough even just adding the following to `.wskprops` works:
`APIGW_ACCESS_TOKEN=<anything except nothing>`

[2019-09-18 17:22] Jonarod opened #186 "sls deploy failed: Unknown Error From API: socket hang up"
Everything was working fine until yesterday for no apparent reason I can think of. I woke up, made a change to my action, then ran `sls deploy`, and got this error:

[code]
I tried to switch Node versions from 12.9.1 to 10.15.1: same issue.
I tried to delete `serverless` and reinstall it globally: same issue.
I tried to delete `node_modules`, `package-lock.json` and `.serverless`: same issue.
I tr

[2019-11-04 14:26] davidpodhola opened #187 "sls deploy failed: **failed to fetch routes**"
The example fails with

[code]

[2019-12-23 19:01] mluds commented on #180
I am also experiencing this. See here:

https://github.com/serverless/serverless/issues/7132

It looks like trigger creation fails for some reason, though it works when I create the trigger manually, then reference it in the serverless.yml.

[2020-01-03 16:34] mluds opened #188 "Error creating Openwhisk cron triggers"
# Bug Report

## Description

1. What did you do?

`sls deploy` using openwhisk and a cron trigger.

1. What happened?

An "application error" on the openwhisk trigger. It says it can't find it in the database:

[code]

1. What should've happened?

The trigger should be created successfully. It works when I create the trigger manually:

[code]

And make this change to my serverless.yaml:

[code]

[2020-03-25 12:32] marcinczeczko opened #189 "Service information adds extra `https://` for every endpoint"
Once web-action is deployed, the service information shows endpoints with redundant schema (extra `https://`)

![image](https://user-images.githubusercontent.com/4218395/77536493-b04cd400-6e9c-11ea-9422-2dd9d5a60ab9.png)

How to reproduce
- Follow the sls openwhisk quickstart but made an action a web-action
[code]
- Deploy to openwhisk

[2020-03-25 12:38] marcinczeczko opened #190 "Deploy single function always fails"
Deployment of single function always fails, see the output below. Need to run full deploy to succeed `sls deploy`
[code]

Version:
SLS: 1.67.0
SLS-openwhisk: 0.18.4

serverless.yml
[code]

[2020-03-25 12:46] marcinczeczko opened #191 "Unable to get function logs on Adobe runtime Openwhisk"
Probably it's related to the private nature of that Openwhisk instance I'm working on. However, the issue I'm facing is that I can't get logs for an action due to the following error. Seems that activations endpoint accepts limit in the range of 0 to 50, but sls sets limit `100`.

Is there a way to overwrite/change that limit ?

[code]

[2020-03-25 17:21] amitabhprasad commented on #181
Where can I find that file when using faas in IBMCloud ?

[2020-05-02 21:56] epiresdasilva opened #192 "Wrong URL when using the non-default package"
A wrong URL is built when using the non-default package for my functions using the serverless-openwhisk plugin.

Here is the wrong URL: `https://us-south.functions.cloud.ibm.com/api/v1/web/example@example.com.br_dev/mypackage/mypackage/categoriaIncluir.json`
The URL must be like this: `https://us-south.functions.cloud.ibm.com/api/v1/web/example@example.com.br_dev/mypackage/categoriaIncluir.json`

[2020-06-19 08:27] bn326160 commented on #169
Any update on this? I don't seem to be able to create a new cloud foundry namespace any longer

[2020-06-19 09:41] bn326160 commented on #182
After creating an IAM API key in IBM Cloud and setting the OW_IAM_NAMESPACE_API_KEY env variable, I still get the same error above. Something else I need to perform?

[2020-06-22 23:36] bn326160 commented on #169
I got it to work using a valid _APIGW_ACCESS_TOKEN_ & _IAM_NAMESPACE_API_KEY_ in your .wskprops or ENV variables. And then upgrading to the github version of this package:
`npm i git+https://github.com/serverless/serverless-openwhisk.git`

[2020-06-23 19:11] aaka3207 commented on #182
Bump, I've been having this issue. I've tried just about everything from granting permissions, changing env variables but nothing has worked.

[2020-06-29 22:37] htmsousa opened #194 "Error invoking Swift hello world example"
Hello,

I'm trying to run the Swift hello world example and I'm getting an error:
[code]
The error message ` {"status":400,"message":"Error: Resource path must begin with '/'."}"` doesn't help much. I looked into the OpenWhisk logs and I could see the following log in Docker container `k8s_user-action_wskowdev-invoker-00-5-prewarm-nodejs10_openwhisk_0a2a529c-34d8-4bac-b999-230ac72b627d_0`.
It look

[2020-06-29 23:08] htmsousa commented on #194
Also tested the Node example (https://github.com/serverless/examples/tree/master/openwhisk-node-simple-http-endpoint) just to make sure it wasn't related with Swift and same thing happens.

[2020-07-15 14:35] salmanprk commented on #103
Quick questions, what is the home directory for .wskprops in Windows 10?

[2020-07-16 09:26] raheel4839 commented on #169
@bn326160 can you explain a bit further how to set the valid token and api key in .wskprops.
My .wskprops looks like this:
<img width="303" alt="image" src="https://user-images.githubusercontent.com/28098880/87654232-ff7e8380-c76f-11ea-9bfb-6d05efb58111.png">

I am getting this error when deploying:
`Failed to deploy function (myservice-dev-hello) due to error: PUT https://us-south.functions.cloud

[2020-07-25 09:07] bn326160 commented on #169
@raheel4839 Looks like you're missing IAM_NAMESPACE_API_KEY. + Did you install the github version?

[2020-07-25 09:08] bn326160 commented on #182
@aaka3207 https://github.com/serverless/serverless-openwhisk/issues/169#issuecomment-647821605 may help

[2020-08-05 06:36] sathish95 opened #195 "Issue with trigger deployement using openwhisk alarm package."
Hi Team,

We are working on a new openwhisk project for our organization. we are in deployment stage and we tried to use a serverless framework for deployment. it worked fine for functions when I tried to deploy an alarm trigger. it hadn't worked.

When I tried to look on code, its seems like you guys using 'feedMask' which makes feed parameter to undefined, which makes my trigger deployment not w

[2020-08-19 17:02] aaka3207 commented on #182
@bn326160 I was on a tight deadline so I ended up using [whisk deploy](https://github.com/apache/openwhisk-wskdeploy)

[2020-10-28 04:05] sathish95 opened #197 "HTTP events deployment overrides existing API's"
Hi,

Let say, we have two project with two serverless.yaml file. deploy in one project replace all deployed API's in another project.
this is because you are using swagger. if you are using swagger openwhisk will replace all existing API.

![image](https://user-images.githubusercontent.com/24877005/97389618-c1613600-1900-11eb-8142-9088d6f91ab8.png)

To overcome this issue, either you shouldn't use

[2020-11-10 10:36] sathish95 commented on #197
Im closing this issue, because we can avoid this by giving basepath in resource->basepath.

[2020-11-10 10:36] #197 closed

[2021-01-02 23:40] julian-fh opened #200 "Function code does not get bundled when a custom runtime image is defined"
Specifying a custom runtime image for a function results in this error: `ServerlessError: Unable to read handler file in function ...`.
This error also occurs if the file exists.

Example:
serverless.yml
[code]

I suspect, that a recent change in the serverless framework causes this error.
The packaging gets interrupted, if a `image` is specified in a function.
This seems to be introduced to enabl

[2021-01-10 17:21] jonee opened #201 "Golang runtime (not binary) for Openwhisk"
### Use case description

Openwhisk has a Golang runtime which is better for development in Golang. See https://www.ibm.com/cloud/blog/announcements/ibm-cloud-functions-adds-native-support-for-go-1-11

Right now, in serverless you have to use the binary runtime in order to use Golang.

Native / Docker runtime in Openwhisk (which is binary in serverless) does not re use variables outside of the mai

[2021-01-10 17:22] pgrzesik commented on #201
Hello @jonee, thanks for reporting. I've transfered the issue to corresponding `openwhisk` repository.

[2021-01-24 12:51] sampaxk opened #202 "Broken template openwhisk-nodejs: Action entrypoint 'hello' is not a function."
I've ran these commands on my system:
`serverless create --template openwhisk-nodejs`
`serverless deploy`

This is the handler.js that has been generated:
[code]

Then I've invoked the function on IBM Cloud Functions dashboard, but the result is an error:
[code]

I have some functions deployed without the help of serverless framework but only using the ibmcloud CLI, and those functions doesn't exp

[2021-01-24 14:03] pgrzesik commented on #202
Hello @sampaxk, thanks for reporting. I'm not expert on `openwhisk` integration to be honest, but I've noticed that you're using node `v15.6.0` that is confirmed to be a cause for invalid `zip` artifacts. Could you verify if on lower node versions (e.g. 15.5.0) the issue still persists?

[2021-01-24 20:37] sampaxk commented on #202
Thank you, I've fixed the issue downgrading to the latest NodeJS TLS version: 14.15.4

I've compared the two archives being generated during the packaging process of serverless.
In the first screenshot you see the archive being generated with NodeJS LTS 14.15.4, in the second screenshot there is the one generated with NodeJS 15.6.0.
The difference I see is that there is no information about the or

[2021-01-24 20:37] #202 closed

[2021-05-21 08:40] matteos025 opened #204 "Binding of service credentials to function doesn't seem to work"
Adding the following to a function in the serverless.yaml file does not work for me:

[code]

I also tried different services as well as specifying instance and key.

Is there any flag/configuration I might be missing?

Thanks in advance!

[2021-07-06 04:56] jsong0605 commented on #187
I have same issue on console

[2021-09-27 08:12] zhijun714 commented on #187
https://github.com/serverless/serverless-openwhisk/issues/103

Refer to this. After I configure this, it's OK
#
Exporting an environment variable `OW_APIGW_ACCESS_TOKEN` with the value of `APIGW_ACCESS_TOKEN` found in `.wskprops` property file fixes the problem.